@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: testfont;
  src: url("../font/didot.otf") format("opentype"); }
body {
  font-family: 'Nunito', sans-serif; }
  body .btn {
    border-radius: 0 !important; }
  body .form-control {
    box-shadow: none !important;
    border-radius: 0  !important; }
    body .form-control:focus {
      border: 1px solid #000000 !important; }
  body .orange-text {
    color: #e36b00; }
  body .form-underline {
    height: 1px;
    background: #e9e9e9; }
  body .orange-border {
    border: 1px solid #e36b00;
    background: #ffffff; }
  body button {
    border-radius: 0 !important; }

input:focus {
  outline: none !important; }

.bread-crumb {
  margin-top: 100px;
  width: 100%;
  z-index: 9999;
  position: absolute;
  color: #cbcbcb; }
  .bread-crumb .active {
    color: #000000 !important; }
  .bread-crumb .breadcrumb-item + .breadcrumb-item::before {
    color: #6c757d;
    font-weight: 900;
    content: "\f30b";
    font-family: 'Font Awesome 5 Free'; }

#about-detail {
  margin-top: 57px;
  margin-bottom: 300px; }
  #about-detail .about-slide {
    position: relative;
    margin-bottom: 100px; }
    #about-detail .about-slide .owl-dots {
      position: absolute;
      top: 5%;
      right: 5%; }
      #about-detail .about-slide .owl-dots .owl-dot.active span {
        background: #e36b00 !important; }
     #about-detail .about-slide .about-content {
      position: absolute;
      z-index: 1;
      max-width: 778px;
      margin: 0 auto;
      top: 50% !important;
      background: #ffffff;
      padding: 32px 52px;
      opacity: 0.9; }
      #about-detail .about-slide .about-content h3 {
        font-family: 'Times New Roman', Times, serif; }
      #about-detail .about-slide .about-content .under-line {
        width: 100%;
        height: 0.5px !important;
        background: #000000;
        margin-bottom: 40px; }

#news a {
  color: unset; }
  #news a:hover {
    text-decoration: none;
    color: #e36b00 !important; }
  #news a.active {
    color: #e36b00; }
#news .row {
  margin-bottom: 138px; }
#news .news-container {
  margin: 0 166px; }
  #news .news-container h6 {
    font-size: 25px;
    margin-bottom: 36px; }
  #news .news-container .time {
    color: #aaaaaa;
    margin-bottom: 25px; }
  #news .news-container .title-detail {
    font-size: 16px;
    margin-bottom: 25px; }
  #news .news-container img {
    width: 100%;
    height: 350px; }
  #news .news-container .news-detail-link {
    font-size: 24px; }
#news .pagination .page-item {
  margin-right: 8px !important; }
  #news .pagination .page-item.active .page-link {
    color: #ffffff !important;
    background: #000000 !important;
    border: #000000 !important; }
  #news .pagination .page-item .fas {
    font-size: 12px; }
  #news .pagination .page-item .page-link {
    border-radius: 5px !important;
    color: #000000 !important; }
    #news .pagination .page-item .page-link:focus {
      outline: none !important; }

#news-detail {
  margin-top: 40px; }
  #news-detail .detail-content .detail-title {
    font-size: 36px;
    font-family: "Roboto",sans-serif !important;
    color: #000000;
    margin-bottom: 44px; }
  #news-detail .detail-content .img-detail {
    margin-bottom: 36px; }
    #news-detail .detail-content .img-detail img {
      width: 80%;
      margin-left: 70px; }
  #news-detail .detail-content .img-cap {
    margin-top: 21px; }
  /* #news-detail .detail-content p {
    margin-bottom: 80px; } */
  #news-detail .detail-content h3 {
    font-family: 'Nunito', sans-serif !important;
    font-size: 24px; }
  #news-detail .detail-bottom {
    margin-top: 80px; }
    #news-detail .detail-bottom .fab {
      font-size: 20px;
      margin: 0 10px; }
  #news-detail .more-news {
    margin-top: 48px; }
    #news-detail .more-news p {
      font-family: "Nunito",sans-serif;
      font-size: 18px; }
  #news-detail .time {
    color: #aaaaaa;
    margin-bottom: 30px; }

#showcase .showcase-image {
  height: 600px;
  overflow: hidden; }

#showroom {
  margin-top: 50px; }
.modal-content iframe{
  width: 100%;
}
#about-detail {
  margin-top: 200px;
  margin-bottom: 300px; }
  #about-detail .about-slide {
    position: relative; }
    #about-detail .about-slide #about-slide {
      z-index: 1; }
    #about-detail .about-slide .owl-dots {
      position: absolute;
      top: 5%;
      right: 5%; }
      #about-detail .about-slide .owl-dots .owl-dot.active span {
        background: #e36b00 !important; }
    #about-detail .about-slide .about-content {
      position: absolute;
      z-index: 2;
      margin: 0 166px;
      top: 30%;
      background: #ffffff;
      padding: 32px 52px;
      opacity: 0.9; }
      #about-detail .about-slide .about-content h3 {
        font-family: 'Times New Roman', Times, serif; }
      #about-detail .about-slide .about-content .under-line {
        width: 100%;
        height: 1px;
        background: #000000;
        margin-bottom: 40px; }

#about-2 {
  background: #212121;
  padding: 123px 0;
  color: #ffffff; }
  #about-2 .active {
    color: #e36b00; }
  #about-2 .under-line-white {
    width: 100%;
    height: 1px;
    background: #ffffff;
    margin-bottom: 48px; }
  #about-2 .ours-work {
    padding-left: 50px; }
  #about-2 .about-img {
    position: relative; }
    #about-2 .about-img .about-text {
      width: 100%;
      position: absolute;
      bottom: 0%;
      background: #ffffff;
      opacity: 0.8;
      text-align: left; }
      #about-2 .about-img .about-text .ceo-name {
        font-size: 19px;
        color: #e36b00;
        font-family: "Roboto", sans-serif;
        font-weight: bold; }

#contact {
  margin-top: 250px;
  margin-bottom: 120px; }
  #contact a {
    color: unset; }
    #contact a:hover {
      text-decoration: none;
      color: #e36b00 !important; }
    #contact a.active {
      color: #e36b00; }
  #contact .line-bold {
    height: .8px;
    background: #000000;
    width: 100%;
    margin-top: 20px; }
  #contact .showrooms {
    margin-bottom: 30px; }
  #contact .showroom .showroom-img {
    width: 100%;
    height: 240px; }
  #contact .showroom{
    margin-top: 30px;
  }
  #contact .showroom img {
    width: 100%;
    height: 240px; }
  #contact .showroom p {
    font-weight: bold;
    font-size: 16px !important; }
  #contact .showroom .showroom-detail {
    margin-top: 30px;
    margin-bottom: 20px; }
  .showroom-detail-address{
    height: 48px;
  }
  #contact .showroom p {
    font-size: 24px; }
  #contact .showroom .group-button .btn {
    background: #231f20;
    color: #ffffff;
    padding-left: 29px;
    padding-right: 29px; }
    #contact .showroom .group-button .btn:first-child {
      margin-right: 16px; }

#product-option {
  margin-top: 40px; }
  #product-option .options-list {
    cursor: pointer;
    margin: 0 30px; }
  #product-option .options {
    position: relative; }
    #product-option .options .form-check-input {
      background: #ffffff !important; }
    #product-option .options .fas {
      color: #b5b5b5; }
    #product-option .options .checkbox-option {
      display: none;
      position: absolute;
      z-index: 99;
      border: 1px solid #000000;
      top: 140%;
      background: #ffffff; }
      #product-option .options .checkbox-option .color {
        width: 20px;
        height: 20px;
        margin: 2px; }
      #product-option .options .checkbox-option .style-options {
       margin-right: 50px; }
      #product-option .options .checkbox-option .size-options {
 
        margin-right: 24px; }
      #product-option .options .checkbox-option .size-options {
        margin: 0 85px 0 60px; }
      #product-option .options .checkbox-option .height-options {
        margin-right: 55px; }
      #product-option .options .checkbox-option .checkbox-container {
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 16px;
        user-select: none;
        /* Hide the browser's default checkbox */
        /* Create a custom checkbox */ }
        #product-option .options .checkbox-option .checkbox-container input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
          /* When the checkbox is checked, add a blue background */ }
          #product-option .options .checkbox-option .checkbox-container input:checked ~ .checkmark {
            background-color: #000000;
            border: 1px solid #000000;
            border-radius: 2px;
            /* Show the checkmark when checked */ }
            #product-option .options .checkbox-option .checkbox-container input:checked ~ .checkmark:after {
              display: block; }
        #product-option .options .checkbox-option .checkbox-container .checkmark {
          position: absolute;
          top: 3px;
          left: 0;
          height: 16px;
          width: 16px;
          border-radius: 2px;
          border: 1px solid #000000;
          background-color: #ffffff;
          /* Create the checkmark/indicator (hidden when not checked) */ }
          #product-option .options .checkbox-option .checkbox-container .checkmark:after {
            content: "";
            position: absolute;
            display: none;
            left: 3px;
            top: -1.75px;
            width: 8px;
            height: 13px;
            border: solid white;
            border-width: 0px 2px 2px 0;
            transform: rotate(45deg); }

#product-list {
  margin-top: 60px; }
  #product-list .product-name:hover {
    color: #000000 !important;
    font-weight: bold; }
  #product-list .col-lg-3 {
    padding-left: 10px !important;
    padding-right: 10px !important; }
  #product-list .product-img {
    margin-top: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
    #product-list .product-img img {
      height: 200px; }
  #product-list .card-body {
    padding: 1rem !important; }
  #product-list .product:hover{
    box-shadow: 0 5px 10px #ccc;
    transform: translateY(-5px);
    transition: 0.5s;
  }
  #product-list .product-colors {
    margin: 10px 0; }
    #product-list .product-colors .product-color {
      margin-top: 20px;
      border: 0.5px solid #000000;
      border-radius: 100%;
      width: 19px;
      height: 19px;
      margin: 5px; }
  #product-list .old-price {
    margin-right: 20px; }
  #product-list .new-price {
    font-size: 24px;
    font-weight: bold; }
  #product-list .cart-link:hover {
    color: #000000 !important; }

.rating {
  margin-top: 20px; }
  .rating label:last-child .fas {
    color: #a1b1bc; }
  .rating .fas {
    color: #2d2d2d;
    margin-right: -5px; }

#checkout {
  margin-top: 217px; }
  #checkout .orange-underline {
    width: 80px;
    height: 2px;
    background: #e36b00; }
  #checkout .step-1 .orange-circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: #ffffff;
    position: relative;
    margin-bottom: 28px;
    border: 1px solid #000000; }
    #checkout .step-1 .orange-circle .number {
      color: #000000; }
    #checkout .step-1 .orange-circle.active {
      background: #e36b00;
      border: none; }
      #checkout .step-1 .orange-circle.active .number {
        color: #ffffff; }
    #checkout .step-1 .orange-circle .number {
      position: absolute;
      top: 25%;
      left: 27%;
      font-size: 24px;
      font-style: italic; }
  #checkout .form-checkout {
    margin-top: 72px; }
    #checkout .form-checkout .reg {
      text-decoration: underline; }
    #checkout .form-checkout .checkout-button {
      padding: 18px 130px !important;
      border-radius: 0 !important;
      background: #ffffff !important;
      border: 1px solid #000000;
      margin-left: 50px;
      margin-top: 64px; }
    #checkout .form-checkout .checkbox-container {
      display: block;
      position: relative;
      cursor: pointer;
      font-size: 16px;
      user-select: none;
      /* Hide the browser's default checkbox */
      /* Create a custom checkbox */ }
      #checkout .form-checkout .checkbox-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        /* When the checkbox is checked, add a blue background */ }
        #checkout .form-checkout .checkbox-container input:checked ~ .checkmark {
          background-color: #ffffff;
          border: 1px solid #000000;
          /* Show the checkmark when checked */ }
          #checkout .form-checkout .checkbox-container input:checked ~ .checkmark:after {
            display: block; }
      #checkout .form-checkout .checkbox-container .checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 16px;
        width: 16px;
        border: 1px solid #000000;
        background-color: #ffffff;
        /* Create the checkmark/indicator (hidden when not checked) */ }
        #checkout .form-checkout .checkbox-container .checkmark:after {
          content: "";
          position: absolute;
          display: none;
          left: 3px;
          top: -1.75px;
          width: 8px;
          height: 13px;
          border: solid #000000;
          border-width: 0px 2px 2px 0;
          transform: rotate(45deg); }
  #checkout .quantity {
    color: #e36b00; }

#cart {
  margin-top: 217px; }
  #cart .code {
    width: 400px;
    font-size: 14px;
    padding: 8px 20px; }
  #cart .card-body {
    padding: 1rem !important; }
  #cart .product-colors {
    margin: 10px 0; }
    #cart .product-colors .product-color {
      margin-top: 20px;
      border: 0.5px solid #000000;
      border-radius: 100%;
      width: 19px;
      height: 19px;
      margin: 5px; }
  #cart .old-price {
    margin-right: 20px; }
  #cart .new-price {
    font-size: 24px;
    font-weight: bold; }
  #cart .cart-link:hover {
    color: #000000 !important; }
  #cart .product-name:hover {
    color: #000000 !important;
    font-weight: bold; }
  #cart .col-lg-3 {
    padding-left: 10px !important;
    padding-right: 10px !important; }
  #cart .product-img {
    margin-top: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
    #cart .product-img img {
      height: 200px; }
  #cart .orange-underline {
    width: 80px;
    height: 2px;
    background: #e36b00; }
  #cart .step-1 .orange-circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: #ffffff;
    position: relative;
    margin-bottom: 28px;
    border: 1px solid #000000; }
    #cart .step-1 .orange-circle .number {
      color: #000000; }
    #cart .step-1 .orange-circle.active {
      background: #e36b00;
      border: none; }
      #cart .step-1 .orange-circle.active .number {
        color: #ffffff; }
    #cart .step-1 .orange-circle .number {
      position: absolute;
      top: 25%;
      left: 27%;
      font-size: 24px;
      font-style: italic; }
  #cart .cart {
    margin-top: 115px; }
    #cart .cart .product {
      margin: 32px 0; }
    #cart .cart .product-image img {
      width: 85px; }
    #cart .cart td {
      vertical-align: middle !important; }
    #cart .cart tr:last-child td, #cart .cart tr:last-child th {
      border-bottom: 1px solid #dee2e6; }

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

.number-input {
  border: 1.5px solid #b5b5b5;
  display: inline-flex; }

.number-input,
.number-input * {
  box-sizing: border-box; }

.number-input button {
  border: 1px solid #b5b5b5 !important;
  -webkit-appearance: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width: 11px;
  height: 13px;
  cursor: pointer;
  margin: 0;
  position: relative;
  border-radius: 2px; }

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 8px;
  height: 1px;
  background-color: #b5b5b5;
  transform: translate(-50%, -50%); }

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg); }

.number-input input[type=number] {
  border-left: none !important;
  border-right: none !important;
  font-family: sans-serif;
  max-width: 46px;
  padding: .5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 14px;
  height: 35px;
  font-weight: bold;
  text-align: center; }

#product-detail {
  margin-top: 211px; }

#product-detail .new-price {
  font-size: 24px;
  margin-right: 29px; }
#product-detail .old-price {
  text-decoration: line-through; }
#product-detail .policy {
  margin-top: 15px; }
  #product-detail .policy p {
    font-size: 14px; }
  #product-detail .policy .col-lg-4 {
    border: 1px solid #e3e6e9;
    background: #f9fafb; }
#product-detail .product-colors {
  margin: 10px 0; }
  #product-detail .product-colors .product-color {
    margin-top: 20px;
    border: 0.5px solid #e3e6e9;
    border-radius: 100%;
    width: 35px;
    height: 33px;
    margin: 3px; }
#product-detail .form-control {
  box-shadow: none !important;
  border-radius: 0  !important; }
  #product-detail .form-control:focus {
    border: 1px solid #ced4da !important; }
#product-detail .number-input {
  border: 0 !important; }
#product-detail .number-input button {
  border: 1px solid #b5b5b5 !important;
  -webkit-appearance: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  cursor: pointer;
  margin: 0;
  position: relative;
  border-radius: 2px; }
#product-detail .number-input button:before,
#product-detail .number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 8px;
  height: 3px;
  background-color: #b5b5b5;
  transform: translate(-50%, -50%); }
#product-detail .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg); }
#product-detail .number-input input[type=number] {
  font-family: sans-serif;
  max-width: 55px;
  padding: .5rem;
  margin: 0 .5rem;
  border: 1px solid #b5b5b5 !important;
  border-width: 0 2px;
  font-size: 14px;
  height: 38px;
  width: 70px;
  font-weight: bold;
  text-align: center; }
#product-detail .social-link {
  width: 30px;
  height: 30px;
  background: #ecf0f1;
  font-size: 14px;
  color: #a1b1bc;
  margin-right: 5px;
  border-radius: 5px !important;
  padding: 5px; }
#product-detail .buy-button {
  padding-right: 20px !important;
  background: #ffffff;
  border: 2px solid #2c3e50; }
#product-detail .like-button {
  background: #2d2d2d;
  color: #ffffff; }
#product-detail .details p {
  margin-bottom: 0.5rem !important; }
#product-detail .product-detail-tab .tab-content {
  border: 1px solid #dee2e6;
  border-top: 0;
  padding: 40px; }
  #product-detail .product-detail-tab .tab-content .nav-tabs .nav-link {
    border: 1px solid #dee2e6 !important; }
#product-detail .product-detail-tab .product-img {
  margin-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  #product-detail .product-detail-tab .product-img img {
    height: 200px; }
#product-detail .single_product_thumb {
  position: relative; }
#product-detail .single_product_thumb .carousel-indicators li {
  border: 1px solid #e3e6e9;
  background-position: center center;
  background-size: cover;
  margin-bottom: 10px;
  min-height: 110px;
  min-width: 86px; }
#product-detail .single_product_thumb .carousel-inner {
  border: 1px solid #ddd;
  margin: 0 3px;
  width: calc(100% - 6px); }
#product-detail .single_product_thumb .carousel-indicators {
  height: 100%; }
#product-detail .single_product_thumb .carousel-indicators li.active {
  border: 1px solid #ddd; }
#product-detail .single_product_thumb .product_badge {
  top: 30px; }
#product-detail .carousel-indicators {
  top: 10px;
  position: absolute; }
#product-detail .carousel-indicators .thumbnail {
  overflow-y: scroll; }
#product-detail .carousel-indicators .thumbnail::-webkit-scrollbar {
  display: none; }
#product-detail .up-button,
#product-detail .down-button {
  border: none;
  background: #ecf0f1;
  width: 86px;
  height: 20px;
  cursor: pointer; }
#product-detail button {
  outline: none !important; }

.more-product {
  margin-top: 35px; }
  .more-product .code {
    width: 400px;
    font-size: 14px;
    padding: 8px 20px; }
  .more-product .card-body {
    padding: 1rem !important; }
  .more-product .product-colors {
    margin: 10px 0; }
    .more-product .product-colors .product-color {
      margin-top: 20px;
      border: 0.5px solid #000000;
      border-radius: 100%;
      width: 19px;
      height: 19px;
      margin: 5px; }
  .more-product .old-price {
    margin-right: 20px; }
  .more-product .new-price {
    font-size: 24px;
    font-weight: bold; }
  .more-product .cart-link:hover {
    color: #000000 !important; }
  .more-product .product-name:hover {
    color: #000000 !important;
    font-weight: bold; }
  .more-product .col-lg-3 {
    padding-left: 10px !important;
    padding-right: 10px !important; }
  .more-product .product-img {
    margin-top: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
    .more-product .product-img img {
      height: 200px; }
  .more-product .orange-underline {
    width: 80px;
    height: 2px;
    background: #e36b00; }
  .more-product .step-1 .orange-circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: #ffffff;
    position: relative;
    margin-bottom: 28px;
    border: 1px solid #000000; }
    .more-product .step-1 .orange-circle .number {
      color: #000000; }
    .more-product .step-1 .orange-circle.active {
      background: #e36b00;
      border: none; }
      .more-product .step-1 .orange-circle.active .number {
        color: #ffffff; }
    .more-product .step-1 .orange-circle .number {
      position: absolute;
      top: 25%;
      left: 27%;
      font-size: 24px;
      font-style: italic; }
  .more-product .cart {
    margin-top: 115px; }
    .more-product .cart .product {
      margin: 32px 0; }
    .more-product .cart .product-image img {
      width: 85px; }
    .more-product .cart td {
      vertical-align: middle !important; }
    .more-product .cart tr:last-child td, .more-product .cart tr:last-child th {
      border-bottom: 1px solid #dee2e6; }

.nav-tabs {
  border: 1px solid #dee2e6;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem; }
  .nav-tabs .nav-item {
    margin-bottom: -2px; }
  .nav-tabs .nav-link {
    border-left: 1px solid #dee2e6;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important; }
    .nav-tabs .nav-link:last-child {
      border-right: 1px solid #dee2e6; }
    .nav-tabs .nav-link.active {
      margin-top: -5px;
      height: 110%;
      color: #000000 !important;
      border-top-left-radius: .25rem !important;
      border-top-right-radius: .25rem !important; }

/*# sourceMappingURL=pages.css.map */
#map {
  top: 150px !important; }

.modal {
  top: 50px !important; }

.modal-dialog {
  max-width: 841px; }

.modal-content {
  background: #000000;
  color: #ffffff; }
  .modal-content .modal-header {
    border-bottom: 1px solid transparent !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important; }
    .modal-content .modal-header .close-button {
      font-size: 33px;
      color: #ffffff; }

.modal-body {
  padding-left: 136px !important;
  padding-right: 136px !important;
  padding-bottom: 50px; }
  .modal-body .label {
    font-size: 14px !important; }
  .modal-body .form-control {
    border-radius: 5px !important; }
  .modal-body .btn {
    border-radius: 5px !important; }
.color-options {
  /* The container */
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */ }
  .color-options .checkbox-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 22px; }
  .color-options .checkbox-container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .color-options .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 0 !important;
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Show the checkmark when checked */
    /* Style the checkmark/indicator */ }
    .color-options .checkmark .checkmark:after {
      content: "";
      position: absolute;
      display: none; }
    .color-options .checkmark .checkbox-container input:checked ~ .checkmark:after {
      display: block; }
    .color-options .checkmark .checkbox-container .checkmark:after {
      left: 9px;
      top: 5px;
      width: 3px;
      height: 4px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
