@font-face {
    font-family: "Helvetica World";
    src: url("../fonts/HelveticaWorld-Regular.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/HelveticaWorld-Regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/HelveticaWorld-Regular.otf") format("opentype"),
        /* Open Type Font */
        url("../fonts/HelveticaWorld-Regular.svg") format("svg"),
        /* Legacy iOS */
        url("../fonts/HelveticaWorld-Regular.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/HelveticaWorld-Regular.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/HelveticaWorld-Regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Helvetica World';
    font-size: 16px;
}

.clear-fix {
    clear: both;
}

.main-color {
    color: #fdb813;
}

.main-bg_color {
    background-color: #fdb813 !important;
}

.m0-auto {
    margin: 0 auto !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

button:focus {
    outline: 0 !important;
}

a:hover {
    text-decoration: none;
    color: unset;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: unset
}

.w-auto {
    width: auto !important;
}

.right-0 {
    right: 0 !important;
}

.left-0 {
    left: 0 !important;
}

.aos-all {
    max-width: 100% !important;
    width: 100% !important;
    width: 100vw !important;
    overflow: hidden;
    margin: 0;
}

/* --HOME-- */

/* FIRST-PAGE */

.main-bg {
    background-color: #151515;
    height: 1000px;
}

.left-bg {
    background-color: #000000;
    width: 1015px;
    height: 865px;
}

.right-bg {
    background-image: url('../images/dots-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    width: 1020px;
    top: 0;
    position: absolute;
    right: 0;
}

.right-bg>canvas {
    height: 1000px;
    width: 1020px;
}

.logo {
    position: absolute;
    top: 80px;
}

.navT {
    -webkit-transition: all 0.25s;
    z-index: 111;
    cursor: pointer;
    background: transparent;
    width: 65px;
    height: 65px;
    right: 98px;
    top: 54px;
    position: fixed;
}

.navT .icon {
    -webkit-transition: all 0.25s;
    position: absolute;
    width: 32px;
    height: 3px;
    right: 25px;
    top: 30px;
    background-color: #fdb813;
}

.navT .icon:before,
.navT .icon:after {
    -webkit-transition: all 0.25s;
    width: 32px;
    height: 3px;
    right: 0;
    background: #fdb813;
    position: absolute;
    content: '';
}

.navT .icon:before {
    top: -8px;
}

.navT .icon:after {
    top: 8px;
}

.navT:hover {
    background: none;
}

.navT:hover .icon:before {
    top: -8px;
}

.navT:hover .icon:after {
    top: 8px;
}

.navT.active .icon {
    -webkit-transform: rotate(180deg);
    background-color: transparent;
    right: 25px;
}

.navT.active .icon:before,
.navT.active .icon:after {
    top: 0;
}

.navT.active .icon:before {
    -webkit-transform: rotate(45deg);
}

.navT.active .icon:after {
    -webkit-transform: rotate(-45deg);
}

#menu {
    z-index: 111;
    -webkit-transition: all 0.5s;
    right: 70px;
    top: 5px;
    font-size: 18px;
    font-weight: 100;
    width: 0;
    height: 65px;
    border-bottom: 1px solid transparent;
    overflow: hidden;
    position: fixed;
    color: #fff;
}

#menu.open {
    height: 100vh;
    width: 100vw;
    left: 0;
    right: 0;
    top: 0;
    background: #000000bf;
    text-align: center;
}

.menu-news {
    padding: 10vh 0;
}

.menu-news li {
    display: contents;
}

.menu-news li a {
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 0 #fff;
    text-transform: uppercase;
    padding: 1.2rem 0;
    line-height: 1;
    font-weight: bold;
    -webkit-transition: all 0.25s;
}

.menu-news li a:hover {
    text-shadow: 2px 0 #fdb813;
    text-decoration: none;
    color: #fdb813;
}

.main-bg_text {
    margin-top: 115px;
    margin-bottom: 67px;
}

.main-bg_text>p {
    font-size: 40px;
    letter-spacing: 2px;
}

.btn-work {
    padding: 11px 30px;
    border-radius: 25px;
    font-size: 18px;
}

.quote-left {
    top: 179px;
    left: -54px;
    font-size: 70px;
    color: #231f20;
}

.quote-right {
    top: 425px;
    right: 67px;
    font-size: 50px;
    color: #231f20;
}

/* END FIRST-PAGE */

/* WORK WIDTH US */

#work-with-us {
    margin-top: 45px;
    margin-bottom: 80px;
}

.work-with-us_text h1 {
    font-size: 72px;
    margin: 0;
}

.work-with-us_text p {
    margin-top: 70px;
    margin-bottom: 55px;
}

.btn-start {
    padding: 12px 10px;
    border-radius: 25px;
}

.box-design {
    padding: 18px 0;

    height: 180px;
    width: 180px;

    border-radius: 20px;
}

.box-design_img {
    height: 80px;
}

.box-design_img>img {
    display: block;
    margin: 0 auto;
}

.box-design_name {
    margin: 15px 0 0 0;
    color: #d5b02f;
    font-size: 14px;
}

.box-design_title {
    font-size: 24px;
    margin: 0;
}

.work-with-us_icon .row .col-lg-4 {
    margin-bottom: 30px;
}

.box-design_img--fix {
    padding-top: 15px;
}

.box-design:hover {
    border: 3px dashed #ebebeb;
    padding-top: 15px;
}

/* END WORK WIDTH US */

/* WHY CHOOSE US */

#why-choose-us {
    width: 1530px;
    height: 490px;
    background-color: #f2f2f2;
    padding-top: 60px;
}

#why-choose-us_canvas {
    width: 1530px;
    height: 430px;
    position: absolute;
}

.why-choose-us_text>h2 {
    font-size: 48px;
    margin-bottom: 50px;
}

.btn_learn-more {
    margin-top: 70px;
    padding: 14px 22px;
    border-radius: 50px;
}

.why-choose-us_text>p:nth-child(5) {
    margin: 0;
}

/* END WHY CHOOSE US */

/* PROJECT */

#project {
    margin-top: 90px;
    position: relative;
}

#project>.col-lg-6 {
    max-width: 48%;
}

#project h1 {
    font-size: 30px;
}

.load-icon {
    margin-top: 40px;
}

.load-icon div {
    position: relative;
    background: #2222227d;
    width: 7px;
    height: 7px;
    border-radius: 100px;
}

.load-icon div {
    animation-name: loading;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.load-icon div:nth-child(1) {
    margin: 0 auto !important;
}

.load-icon div:nth-child(2) {
    animation-delay: .2s;
}

.load-icon div:nth-child(3) {
    animation-delay: .4s;
}

.load-icon div:nth-child(4) {
    animation-delay: .6s;
}

.load-icon div:nth-child(5) {
    animation-delay: .8s;
}

.load-icon div:nth-child(6) {
    animation-delay: 1s;
}

.load-icon div:nth-child(7) {
    animation-delay: 1.2s;
}

.load-icon div:nth-child(8) {
    animation-delay: 1.4s;
}

.load-icon div:nth-child(9) {
    animation-delay: 1.6s;
}

.load-icon div:nth-child(10) {
    animation-delay: 1.8s;
}

.load-icon div:nth-child(11) {
    animation-delay: 2.0s;
}

.load-icon div:nth-child(12) {
    animation-delay: 2.2s;
}

.load-icon div:nth-child(13) {
    animation-delay: 2.4s;
}

.load-icon div:nth-child(14) {
    animation-delay: 2.6s;
}

.load-icon div:nth-child(15) {
    animation-delay: 2.8s;
}

.load-icon div:nth-child(16) {
    animation-delay: 3s;
}

.load-icon div:nth-child(17) {
    animation-delay: 3.2s;
}

.load-icon div:nth-child(18) {
    animation-delay: 3.4s;
}

.load-icon div:nth-child(19) {
    animation-delay: 3.6s;
}

.load-icon div {
    margin: 7px auto 0 auto;
}

@keyframes loading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.view-all {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 210px;
    display: block;
}

.view-all li {
    display: inline-block;
    border: 3px solid #fdb813;
    border-radius: 50px;
    margin-right: 34px;
    background-color: #fff;
}

.view-all li>a {
    text-decoration: none;
    padding: 10px 30px;
    color: unset;
    display: block;
    cursor: pointer;
}

.fade {
    transition: opacity .2s linear;
}

.view-all li:nth-child(5) {
    margin: 0;
}

.view-all>li:hover {
    background-color: #fdb813;
}

.project-slide {
    height: 530px;
    width: 1110px;
}

.tab-pane .owl-stage-outer>.owl-stage {
    padding-left: 120px !important;
    padding-right: 260px;
}

.project-slide_bg {
    height: 528px;
    width: 864px;
    background-color: #fdb813;
    position: absolute;
    left: 145px;
}

.project-slide_bg-2 {
    height: 528px;
    width: 864px;
    background-color: #8dc63f;
    position: absolute;
    left: 145px;
}

.project-slide_name {
    font-size: 72px;
}

.project-slide-name_line {
    width: 50px;
    height: 10px;
    background-color: #fdb813;
    margin-left: 4px;
}

.project-slide>.row {
    padding-top: 108px;
}

.project-slide-name_line2 {
    background-color: #8dc63f;
}

.project-slide-img-bg {
    width: auto !important;
    position: absolute;
    left: 145px;
}

/* END PROJECT */

/* BECAUSE */

#because {
    margin-top: 50px;
}

#because>.col-lg-4 {
    max-width: 31.333333%;
}

#because>.col-lg-4>h3 {
    font-size: 30px;
    margin-bottom: 45px;
}

.because-bg {
    position: absolute;
    width: 1150px;
    height: 800px;
    background-color: #f2f2f2;
}

.because-content {
    height: 795px;
}

.because-content>.container {
    padding-top: 145px;
}

.because-content>.container>.row {
    overflow-x: hidden;
}

.because-content .col-lg-6:nth-child(1) {
    max-width: 48%;
}

.because-text {
    margin-top: 50px;
}

.because-text p {
    font-size: 14px;
}

.because-text_1 {
    margin-bottom: 55px;
}

/* END BECAUSE */

/* WITH */

#with {
    margin-top: 55px;
}

#with>h3 {
    font-size: 30px;
    margin-bottom: 55px;
}

.with-content {
    margin-top: 7px;
}

.with-main_content {
    padding-top: 110px;
    height: 1420px;
}

.with-bg {
    height: 1420px;
    width: 1530px;
    right: 0;
    background-color: #151515;
    position: absolute;
    z-index: -1;
}

.with-main_step--number {
    font-size: 75px;
    color: #fdb813;
    margin: 0;
}

.with-main_step--name {
    font-size: 30px;
    color: #efefef;
}

.with-circle {
    display: block;
    margin: 0 auto;
}

.with-main_step--title {
    color: #efefef;
    margin: 70px 0;
}

.with-main_content>.container .row {
    margin-bottom: 140px;
}

.with-arrow1,
.with-arrow2,
.with-arrow3 {
    position: absolute;
}

.with-arrow1 {
    left: 400px;
    top: 205px;
}

.with-arrow2 {
    right: 400px;
    top: 555px;
}

.with-arrow3 {
    left: 400px;
    top: 905px;
}

.title-section {
    font-size: 48px;
    color: #d2aa0b;
    text-align: center;
    margin-bottom: 25px;
}

/* END WITH */

/* CUSTOMER */

#customer {
    margin-top: 38px;
}

.customer-content {
    height: 480px;
    width: 1530px;
    background-color: #f2f2f2;
}

.customer-info_detail {
    float: left;
    padding-top: 32px;
}

.customer-info {
    margin-bottom: 40px;
    margin-top: 95px;
    height: 76px;
    position: relative;
}

.customer-name {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: bold;
}

.customer-job {
    font-size: 12px;
    margin: 0;
}

.customer-avatar {
    float: right;
}

.customer-avatar>img {
    height: 75px !important;
    width: 75px !important;
    border-radius: 100%;
}

.customer-quote {
    position: absolute;
    color: #e5e5e5;
    font-size: 75px;
    z-index: -1;
    top: -25px;
}

#customer-slide .item {
    margin-bottom: 80px;
}

/* END CUSTOMER */

/* TALK */

#talk {
    margin-top: 50px;
}

#talk>.col-lg-2 {
    max-width: 14.666667%;
}

.btn-talk {
    margin: 50px auto 15px auto;
    padding: 10px 25px;
    border-radius: 50px;
    display: block;
}

.comunicate {
    padding-top: 65px;
    padding-bottom: 47px;
}

.comunicate-icon {
    height: 70px;
    padding: 10px 0;
}

.comunicate-name {
    font-size: 30px;
    margin-bottom: 42px;
    margin-top: 32px;
}

.comunicate-info>p {
    margin: 0;
}

/* END TALK */

/* FOOTER */

#footer {
    background-color: #151515;
    color: #d3d3d3;
    font-size: 14px;
    padding-top: 62px;
}

.logo-footer {
    margin-bottom: 45px;
}

.footer-describe {
    margin-bottom: 30px;
}

.footer-line {
    background-color: #fdb813;
    height: 2px;
    width: 80px;
    margin-bottom: 35px;
}

.footer-address {
    margin-bottom: 40px;
}

.footer-mail p {
    margin-left: 10px;
}

.btn-visit {
    border: none;
    background-color: unset;
    padding: 0;
    cursor: pointer;
}

.modal-backdrop.show {
    opacity: 0;
}

.modal-backdrop {
    z-index: -1;
}

.site {
    font-size: 18px;
    margin-top: 55px;
    margin-bottom: 84px;
}

.footer-service {
    margin-bottom: 32px;
}

.footer-follow p {
    font-size: 18px;
}

.footer-follow>.pagination>li {
    margin-right: 30px;
    font-size: 18px;
}

.footer-follow>.pagination>li:nth-child(5) {
    margin-right: 0;
}

.footer-follow>.pagination>li>a>i {
    color: #31313a;
}

.footer-follow>.pagination>li>a>i:hover {
    color: #fdb813;
}

.quick-contact {
    font-size: 18px;
    margin-top: 55px;
    margin-bottom: 35px;
}

.form-contact-footer>input {
    margin-bottom: 10px;
    background-color: #323232;
    border-radius: 0;
    padding: 10px 20px;
}

.form-contact-footer>input::placeholder {
    color: #6d6d6d;
}

.form-contact-footer>textarea {
    height: 175px;
    width: 100%;
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 0;
    resize: none;
}

.form-contact-footer>textarea::placeholder {
    color: #6d6d6d;
}

.btn-contact {
    margin: 27px 0;
    padding: 10px 25px;
    border-radius: 50px;
}

/* END FOOTER */

/* COPY RIGHT */

#copy-right {
    background-color: #000000;
}

#copy-right p {
    font-size: 14px;
    color: #c3c3c3;
    padding: 30px 0;
    margin: 0;
}

/* END COPY RIGHT */

/* --END HOME-- */




/* --ABOUT-- */

/* HEAD */
#head {
    background-color: #151515;
}

.logo-head img {
    margin: 17px 0;
}

.nav-head {
    top: 30px;
    right: 95px;
}

#breadcrumb {
    padding: 25px 0;
}

#breadcrumb p {
    margin: 0;
}

/* HEAD */

/* ABOUT US */
#about-us {
    height: 124vh;
}

#about-us .container {
    padding-top: 100px;
}

.about-us_bg {
    background-color: #f2f2f2;
    position: absolute;
    height: 124vh;
    width: 76vw;
    z-index: -1;
}

.about-pic {
    float: right;
    margin-left: 90px;
    margin-bottom: 45px;
    margin-top: 40px;
}

.about-pic img {
    max-width: 100%;
}

.about-text p:nth-child(1) {
    font-size: 48px;
    margin-bottom: 60px;
}

.about-text {
    width: 90%;
}

.about-text p {
    font-size: 14px;
}

/* END ABOUT US */

/* VISION */
#vision {
    margin-top: 70px;
    height: 109vh;
}

#vision .row {
    overflow-x: hidden;
}

.vision-bg {
    background-color: #f2f2f2;
    position: absolute;
    height: 80vh;
    width: 55vw;
    z-index: -1;
    right: 0;
}

.vision-pic {
    margin-top: 160px;
}

.vision-pic img {
    max-width: 100%;
}

.vision-text h1 {
    font-size: 40px;
}

.vision-text p {
    font-size: 14px;
}

.vision-text p:nth-child(2) {
    margin-bottom: 70px;
}

.vision-text {
    padding-top: 200px;
    padding-left: 30px;
}

/* END VISION */

/* CORE */
#core {
    margin-top: 70px;
}

#core .container {
    padding-top: 160px;
}

#core .row {
    overflow-x: hidden;
}

.core-bg {
    background-color: #f2f2f2;
    position: absolute;
    height: 58vh;
    width: 57vw;
    z-index: -1;
}

/* END CORE */

/* -- END ABOUT-- */

/* OUR SERVICE */
#service {
    margin-top: 150px;
}

#service h1 {
    font-size: 48px;
    margin-bottom: 60px;
}

#service>.container>p {
    margin-bottom: 90px;
}

/* OUR SERVICE */

/* PORTFOLIO */
#slide-portfolio {
    margin-top: 155px;
    overflow-x: hidden;
}

.portfolio-left {
    float: left;
    margin-bottom: 25px;
}

.portfolio-right {
    float: right;
}

.slide-branding {
    position: relative;
    height: 395px;
    margin-bottom: 85px;
}

.slide-branding_bg {
    height: 325px;
    width: 1530px;
    background-color: #f2f2f2;
    position: absolute;
    left: 0;
    top: 30px;
}

.portfolio-img>img {
    max-width: 100%;
    margin-top: 55px;
}

.slide-portfolio_bg {
    height: 395px;
    width: 645px;
}

.portfolio-text p {
    font-size: 14px;
    line-height: 18px;
}

.portfolio-text {
    margin-top: 70px;
}

.btn-use {
    padding: 10px 27px;
    text-transform: uppercase;
    background-color: #fdb813;
    border-radius: 50px;
    margin-top: 20px;
}

.slide-website_bg {
    right: 0;
    left: unset;
}

.slide-portfolio-website_bg {
    right: 145px;
    left: unset;
}

/* END PORTFOLIO */


/* PRODUCTS */
#products-list {
    margin-top: 55px;
}

#products-list .view-all {
    position: relative;
    top: 0;
}

#products-list h1 {
    margin-top: 75px;
    margin-bottom: 50px;
}

#products-list .pagination {
    float: right;
    margin-top: 50px;
}

#products-list .pagination>li {
    margin-right: 15px;
}

#products-list .pagination>li:nth-child(7) {
    margin: 0;
}

.products {
    margin-top: 30px;
}

.products .col-lg-4 {
    margin-bottom: 30px;
}

.products img {
    max-width: 100%;
}

.view-all_mobile {
    position: relative;
}

.view-all_mobile select {
    border: 3px solid #fdb813;
    border-radius: 50px;
    margin-right: 34px;
    padding: 10px 30px;
    background-color: #fdb813;
    text-transform: uppercase;
}

/* END PRODUCTS */

/* PRODUCTS DETAIL */
#products-detail {
    margin-top: 75px;
}

#products-detail-slide {
    margin-bottom: 55px;
}

#products-detail .project-slide {
    position: relative;
}

#products-detail .project-slide img {
    max-width: 100%;
}

#products-detail .products {
    margin-top: 85px;
    margin-bottom: 70px;
}

#products-detail .customer-content {
    height: unset;
    width: unset;
    padding: 50px 100px;
    margin-top: 95px;
}

#products-detail .customer-content .customer-info {
    margin-top: 0;
}

#products-detail .customer-content .customer-job {
    font-size: 14px;
    margin: 0;
}

/* END PRODUCTS DETAIL */

/* SERVICES DETAIL */
#services-detail {
    margin-top: 125px;
}

#services-detail .container>h1 {
    font-size: 48px;
    margin-bottom: 60px;
}

.step-process {
    margin-top: 80px;
}

.step-process .col-lg-3 {
    padding: 25px 0;
}

.step-wrap {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background-color: #f8f7f7;
    border: 1px solid #0000000d;
    margin: 0 auto;
    box-shadow: inset 0px 1px 1px 0px #bcbcbc;
}

.step-inner {
    height: 65px;
    width: 65px;
    border-radius: 100%;
    background-color: #f7f5f5;
    box-shadow: 0 1px 2px #bcbcbc;
    text-align: center;
    margin: 9px auto;
}

.step-inner>span {
    font-size: 35.15px;
    color: #d7d5d5;
    font-weight: bold;
}

.step-dots {
    float: left;
    margin-top: 4px;
}

.step-dots div {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #d9d9d9;
    margin-left: 6px;
}

.step-caret {
    float: left;
    margin-left: 30px;
}

.step-caret i {
    font-size: 40px;
    color: #d9d9d9;
}

.step-title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.fill-header {
    background-color: #f2f2f2;
    margin-top: 80px;
    margin-bottom: 60px;
    padding: 20px 30px;
}

/* .fill {
    margin-top: 60px;
} */

#fill-infor {
    transition: all 0.35s ease-in-out;
}

.fill-header h1 {
    font-weight: bold;
    font-size: 20px;
    float: left;
    padding-top: 10px;
}

.fill-header .btn-carret {
    float: right;
    background-color: unset;
    padding: 0;
    border: none;
    cursor: pointer;
}

.fill-header button i {
    font-size: 40px;
    color: #f0af12;
}

.fill textarea {
    height: 155px;
    resize: none;
}

.shape-style {
    margin-top: 75px;
}

.shape-pic {
    height: 190px;
    width: 190px;
    border: 1px solid #b7b7b7;
    margin: 20px auto 25px;
}

.shape-pic img {
    display: block;
    margin: 25px auto;
}

.shape-style input:checked,
.shape-style input:not(:checked) {
    visibility: hidden;
}

.shape-style input:checked+label,
.shape-style input:not(:checked)+label {
    position: relative;
    cursor: pointer;
}

.shape-style input:checked+label:before,
.shape-style input:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 96px;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #b7b7b7;
    border-radius: 100%;
    background: #fff;
}

.shape-style input:checked+label:after,
.shape-style input:not(:checked)+label:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #f0af12;
    position: absolute;
    top: 5px;
    left: 101px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.shape-style input:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.shape-style input:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.logo-style {
    margin-top: 75px;
}

.style-range {
    margin-top: 50px;
    position: relative;
}

.style-range label {
    margin-bottom: 25px;
}

.slider-range {
    width: 100%;
    padding-left: 0;
    -webkit-appearance: none;
    height: 10px;
    outline: none;
    background: #f2f2f2;
    border-radius: 10px;
}

.slider-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #f0af12;
    cursor: pointer;
    border-radius: 100%;
}

output {
    position: absolute;
    left: 208px;
    top: 28px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    font-size: 12px;
    text-align: center;
    padding-top: 3px;
    color: #6d6d6d;
}

/* output:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid #f0af12;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
} */

.btn-finish {
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 60px;
    padding: 20px 30px;
    margin-bottom: 80px;
    font-size: 20px;
    text-transform: uppercase;
}

.thanks h1 {
    font-size: 24px;
    margin-bottom: 50px;
}

.thanks .col-lg-6 {
    max-width: 49%;
}

.div-step_bgcolor {
    background-color: #fdb813 !important;
}

.div-step_color {
    color: #fdb813 !important;
}

.step-dots-2 {
    float: left;
    margin-top: 4px;
}

.step-dots-2 div {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #d9d9d9;
    margin-left: 6px;
}

/* END SERVICES DETAIL */

/* PARTNER */
#partner {
    margin-top: 125px;
}

#partner h1 {
    font-size: 48px;
    margin: 0;
}

.customer-box{
    margin-top: 100px;
}
.customer-box ul{
    padding: 0;
}
.image-back{
    position: relative;
}

.image-front {
    position: absolute;
}

.logo-list {
    display: inline-block;
    position: relative;
    list-style: none;
    margin-right: 2.6%;
    margin-bottom: 110px;
    width: 17.6%;
    height: 11vh;
    text-align: center;
}

.logo-list img{
    max-width: 100%;
}
.logo-list:nth-child(5n+5){
    margin-right: 0;
}

.logo-list .image-back:hover{
    opacity: 0;
    cursor: pointer;
}


/* END PARTNER */

#slide-logo{
    margin-top: 50px;
}

#slide-logo-content .logo-list{
    width: auto;
    height: auto;
    margin: 0;
}


.video-index{
    position: relative;
}
.video-text{
    position: absolute;
    top: 270px;
    color: wheat;
    transition: 0.7s;
    left: 0;
    visibility: hidden;
}
.video-index:hover .video-text{
    visibility: visible;
    left: 40px;
}



@media(max-width: 575px) {

    /* FIRST PAGE */
    .logo {
        top: 18px;
        padding-left: 50px;
    }

    .left-bg {
        width: auto;
        height: 380px;
    }

    .main-bg_text {
        margin-top: 50px;
        width: 32vh;
    }

    .navT {
        top: 20px;
        right: 20px;
    }

    .menu-news li a {
        font-size: 30px;
    }

    .right-bg {
        top: 400px;
        height: auto;
        max-width: 100%;
    }

    .btn-work {
        display: none;
    }

    .main-bg_text>p {
        font-size: 28px;
    }

    .quote-left {
        top: 132px;
        left: 0px;
        font-size: 45px;
    }

    .quote-right {
        top: 295px;
        right: 150px;
        font-size: 35px;
    }

    .right-bg>canvas {
        height: auto;
        width: 100%;
    }

    .main-bg {
        height: 890px;
    }

    .main-bg .col-lg-2 {
        width: 96%;
    }

    /* END FIRST PAGE */

    /* WORK-WITH-US */
    .work-with-us_text .col-lg-7 {
        width: 55%;
    }

    .work-with-us_text .col-lg-7>h1 {
        font-size: 48px;
    }

    .work-with-us_text p {
        margin-top: 55px;
        margin-bottom: 30px;
    }

    .work-with-us_icon {
        margin-top: 60px;
    }

    .work-with-us_icon .col-lg-4 {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
    }

    /* END WORK-WITH-US */

    /* WHY CHOOSE US */
    #why-choose-us {
        width: 82vw;
        height: 95vh;
    }

    #why-choose-us_canvas {
        display: none;
    }

    .why-choose-us_pic>img {
        max-width: 100%;
    }

    .btn_learn-more {
        position: absolute;
        z-index: 2;
        top: 420px;
        right: -30px;
    }

    .why-choose-us_text>h2 {
        width: 65vw;
    }

    /* END WHY CHOOSE US */

    /* PROJECT */
    #project {
        margin-top: 55px;
    }

    #project>.col-lg-6 {
        max-width: 100%;
    }

    .view-all {
        position: relative;
        top: 0;
    }

    .view-all li {
        display: block;
        border: 3px solid #fdb813;
        border-radius: 50px;
        background-color: #fff;
        margin: 0 auto 20px !important;
        width: 47%;
    }

    .tab-pane .owl-stage-outer>.owl-stage {
        padding: 0 !important;
    }

    .project-wrap {
        margin-top: 40px;
    }

    .project-slide_name {
        font-size: 24px;
    }

    .project-slide {
        height: 30vh;
        max-width: 100%;
    }

    .project-slide_bg {
        height: 30vh;
        width: 70vw;
        background-color: #fdb813;
        position: absolute;
        left: 60px;
    }

    .project-slide_bg-2 {
        height: 200px;
        width: 70vw;
        background-color: #8dc63f;
        position: absolute;
        left: 60px;
    }

    .project-slide>.row {
        padding-top: 55px;
    }

    .project-slide>.row>.col-lg-5 {
        width: 40%;
    }

    .project-slide>.row>.col-lg-7 {
        width: 60%;
    }

    /* END PROJECT */

    /* BECAUSE */
    #because>.col-lg-4 {
        max-width: 100%;
    }

    .because-bg {
        width: 90vw;
        height: 100vh;
        right: 0;
    }

    .because-content>.container {
        padding-top: 0;
    }

    .because-content img {
        max-width: 100%;
    }

    .because-content .col-lg-7 {
        padding-right: 0;
    }

    /* END BECAUSE */

    /* WITH */
    #with {
        margin-top: 170px;
        height: 453vh;
    }

    .with-bg {
        height: 410vh;
        width: 100vw;
    }

    .with-main_content .row1 .col-lg-4:nth-child(1) {
        order: 1;
    }

    .with-main_content .row1 .col-lg-4:nth-child(2) {
        order: 3;
    }

    .with-main_content .row1 .col-lg-4:nth-child(3) {
        order: 2;
    }

    .with-main_content .row2 .col-lg-4:nth-child(1) {
        order: 3;
    }

    .with-main_content .row2 .col-lg-4:nth-child(2) {
        order: 3;
    }

    .with-main_content .row2 .col-lg-4:nth-child(3) {
        order: 1;
    }

    .with-main_content {
        padding-top: 50px;
    }

    .with-main_content>.container .row {
        margin-bottom: 130px;
    }

    .with-main_step {
        float: left !important;
    }

    .with-main_step--title {
        margin-top: 40px;
        margin-bottom: 65px;
    }

    .with-arrow1 {
        left: 30px;
        top: 540px;
    }

    .with-arrow2 {
        right: 30px;
        top: 1220px;
    }

    .with-arrow3 {
        left: 30px;
        top: 1900px;
    }

    /* WITH */

    /* CUSTOMER */
    #customer {
        height: 117vh;
    }

    .customer-content {
        height: 115vw;
        width: 94vw;
        float: right;
    }

    .customer-avatar>img {
        height: 107px !important;
        width: 107px !important;
        border-radius: 100%;
    }

    /* CUSTOMER */

    /* TALK */
    #talk>.col-lg-2 {
        max-width: 89%;
    }

    .comunicate-name {
        font-size: 30px;
        margin-bottom: 4px;
        margin-top: 5px;
    }

    .comunicate-wrap {
        margin-bottom: 40px !important;
    }

    /* END TALK */

    /* FOOTER */
    .logo-footer {
        text-align: center;
    }

    .footer-address img {
        margin-bottom: 40px;
    }

    .footer-mail p {
        float: none !important;
        margin: 0;
    }

    .footer-mail img {
        float: none !important;
        margin-bottom: 30px;
    }

    .footer-mail .col-lg-6 {
        margin-bottom: 45px;
    }

    .site,
    .footer-service {
        display: none;
    }

    .btn-contact {
        float: left !important;
    }

    #copy-right p:nth-child(2) {
        display: none !important;
    }

    #copy-right p:nth-child(1) {
        text-align: center;
        float: none !important;
    }

    /* END FOOTER */

    /* --HOME-- */



    /* --ABOUT-- */

    /* ABOUT US */
    #about-us {
        height: 370vh;
    }

    .about-us_bg {
        height: 370vh;
    }

    .about-pic {
        margin-left: 0;
    }

    .about-text {
        width: 100%;
    }

    #about-us .container {
        padding-top: 40px;
    }

    /* END ABOUT US */

    /* VISION */
    #vision {
        height: 178vh;
    }

    #vision .container .col-lg-6:nth-child(1) {
        order: 2;
    }

    .vision-text {
        padding-top: 25px;
        padding-left: 0;
    }

    .vision-text h1 {
        font-size: 20px;
    }

    .vision-bg {
        height: 136vh;
        width: 86vw;
    }

    .vision-pic {
        margin-top: 20px;
    }

    /* END VISION */

    /* CORE */
    #core .container {
        padding-top: 40px;
    }

    .core-bg {
        height: 90vh;
        width: 85vw;
    }

    .core-pic img {
        max-width: 100%;
    }

    /* END CORE */


    /* --PORTFOLIO-- */

    /* SERVICE */
    #service {
        margin-top: 90px;
    }

    #service .col-lg-2 {
        width: 50%;
        padding-left: 0;
    }

    /* END SERVICE */

    /* SLIDE PORTFOLIO */
    .slide-branding {
        height: 100%;
    }

    .slide-branding_bg {
        width: 100vw;
        height: 190px;
    }

    #slide-portfolio {
        margin-top: 130px;
    }

    .slide-portfolio_bg {
        height: 232px;
        width: 250px;
        left: 0;
    }

    .portfolio-img>img {
        max-width: 87%;
        margin-top: 36px;
    }

    .slide-website .portfolio-img>img {
        float: right;
    }

    .slide-portfolio-website_bg {
        right: 0;
        left: unset;
    }

    .slide-website .col-lg-6:nth-child(1) {
        order: 2;
    }

    .slide-website .col-lg-6:nth-child(2) {
        order: 1;
    }

    /*END  SLIDE PORTFOLIO */

    /* --END PORTFOLIO-- */

    .view-all_mobile {
        display: block !important;
    }

    .view-all_mobile .view-all li {
        display: block;
        border: 3px solid #fdb813;
        border-radius: 50px;
        background-color: #fff;
        margin: 0 0 10px !important;
        width: 47%;
    }

    .view-all_mobile .navbar-toggler {
        position: absolute;
        left: 175px;
        top: 14px;
        font-size: 25px;
    }

    #products-list .view-all_pc {
        display: none;
    }

    #products-detail .customer-content {
        padding: 40px 20px;
        margin: 30px 0 55px;
    }

    #products-detail .products {
        margin-bottom: 0;
        margin-top: 30px;
    }

    #products-detail {
        margin-top: 30px;
    }

    #products-detail .project-slide_bg,
    .project-slide_bg-2 {
        width: 65vw;
        height: 28vh;
    }

    #products-detail .project-slide_name {
        font-size: 22px;
    }

    #services-detail {
        margin-top: 60px;
    }

    #services-detail .container>h1 {
        font-size: 30px;
    }

    .shape-style,
    .logo-style,
    .fill-header,
    .fill-require,
    .thanks,
    .step-process {
        display: none;
    }

    .btn-finish {
        width: 100%;
        background-color: #f2f2f2;
        margin-top: 20px;
        ;
        padding: 20px 30px;
        margin-bottom: 0;
    }

    .fill-infor {
        margin-top: 40px;
    }
    .logo-list{
        width: 46.6%;
    }
}

@media(min-width: 576px) and (max-width: 767px) {}

@media(min-width: 768px) and (max-width: 991px) {

    /* FIRST PAGE */
    .logo {
        padding-left: 70px;
    }

    .main-bg {
        width: 100vw;
        height: 240vw;
    }

    .main-bg_text {
        width: 34vh;
    }

    .quote-left {
        left: -10px;
    }

    .quote-right {
        left: 235px;
    }

    .right-bg {
        top: unset;
        right: unset;
        height: auto;
        width: 100vw;
    }

    .right-bg>canvas {
        height: auto;
        width: 100%;
    }

    .main-bg .col-lg-2 {
        width: 95%;
    }

    .left-bg {
        width: 100vw;
    }

    .navT {
        right: 50px;
    }

    .work-with-us_icon .col-lg-4 {
        width: 33%;
        padding-left: 0;
        padding-right: 0;
    }

    .work-with-us_icon {
        margin-top: 60px;
    }

    /* END FIRST PAGE */

    /* WORK-WITH-US */
    .work-with-us_text .col-lg-7 {
        width: 47%;
    }

    /* END WORK-WITH-US */

    /* WHY CHOOSE US */
    #why-choose-us {
        width: 82vw;
        height: 53vh;
    }

    #why-choose-us_canvas {
        display: none;
    }

    .why-choose-us_pic>img {
        max-width: 100%;
    }

    #why-choose-us .col-lg-3 {
        display: none;
    }

    .why-choose-us_text>h2 {
        width: 65vw;
    }

    /* END WHY CHOOSE US */

    /* PROJECT */
    .view-all li {
        margin-right: 2px;
    }

    #project>.col-lg-6 {
        max-width: 100%;
    }

    .tab-pane .owl-stage-outer>.owl-stage {
        padding: 0 !important;
    }

    .project-slide_name {
        font-size: 45px;
    }

    .project-slide {
        height: 33vh;
        max-width: 100%;
    }

    .project-slide_bg {
        height: 33vh;
        width: 70vw;
        background-color: #fdb813;
        position: absolute;
        left: 60px;
    }

    .project-slide_bg-2 {
        height: 33vh;
        width: 70vw;
        background-color: #8dc63f;
        position: absolute;
        left: 60px;
    }

    .project-slide>.row {
        padding-top: 55px;
    }

    .project-slide>.row>.col-lg-5 {
        width: 40%;
    }

    .project-slide>.row>.col-lg-7 {
        width: 60%;
    }

    /* END PROJECT */

    /* BECAUSE */
    #because>.col-lg-4 {
        max-width: 100%;
    }

    .because-bg {
        width: 90vw;
        height: 90vh;
        right: 0;
    }

    .because-content>.container {
        padding-top: 0;
    }

    .because-content img {
        max-width: 100%;
    }

    .because-content .col-lg-7 {
        padding-right: 0;
    }

    /* END BECAUSE */

    /* WITH */
    #with {
        margin-top: 170px;
    }

    .with-bg {
        height: 140vh;
        width: 100vw;
    }

    .with-main_content {
        padding-top: 50px;
    }

    .with-main_content>.container .row {
        margin-bottom: 130px;
    }

    .with-main_step {
        float: left !important;
    }

    .with-main_step--title {
        margin-top: 40px;
        margin-bottom: 65px;
    }

    .with-arrow1 {
        left: 220px;
        top: 210px;
    }

    .with-arrow2 {
        right: 220px;
        top: 560px;
    }

    .with-arrow3 {
        left: 220px;
        top: 910px;
    }

    .with-main_step--name {
        font-size: 24px;
    }

    /* WITH */

    /* CUSTOMER */
    #customer {
        margin-top: 55px;
        height: 76vh;
    }

    .customer-content {
        height: 60vw;
        width: 94vw;
        float: right;
    }

    .customer-avatar>img {
        height: 107px !important;
        width: 107px !important;
        border-radius: 100%;
    }

    /* CUSTOMER */

    /* TALK */
    #talk>.col-lg-2 {
        max-width: 100%;
    }

    /* END TALK */



    /* --ABOUT-- */

    /* ABOUT US */
    #about-us {
        height: 170vh;
    }

    .about-us_bg {
        height: 170vh;
    }

    .about-pic {
        margin-left: 0;
    }

    .about-text {
        width: 100%;
    }

    /* END ABOUT US */

    /* VISION */
    #vision {
        height: 117vh;
    }

    #vision .container .col-lg-6:nth-child(1) {
        order: 2;
    }

    .vision-text {
        padding-top: 25px;
        padding-left: 0;
    }

    .vision-text h1 {
        font-size: 20px;
    }

    .vision-bg {
        height: 90vh;
        width: 86vw;
    }

    .vision-pic {
        margin-top: 20px;
    }

    /* END VISION */

    /* CORE */
    #core .container {
        padding-top: 40px;
    }

    .core-bg {
        height: 70vh;
        width: 85vw;
    }

    .core-pic img {
        max-width: 100%;
    }

    /* END CORE */


    /* --PORTFOLIO-- */

    /* SERVICE */
    #service {
        margin-top: 90px;
    }

    #service .col-md-2 {
        width: 50%;
        padding-left: 0;
    }

    /* END SERVICE */

    /* SLIDE PORTFOLIO */
    .slide-branding {
        height: 100%;
    }

    .slide-branding_bg {
        width: 100vw;
        height: 270px;
    }

    #slide-portfolio {
        margin-top: 130px;
    }

    .slide-portfolio_bg {
        left: 0;
        width: 55vw;
    }

    .portfolio-img>img {
        max-width: 65%;
        margin-top: 36px;
    }

    .slide-website .container .row .col-lg-6 .portfolio-img>img {
        float: right;
    }

    .slide-portfolio-website_bg {
        right: 0;
        left: unset;
    }

    .slide-website .col-lg-6:nth-child(1) {
        order: 2;
    }

    .slide-website .col-lg-6:nth-child(2) {
        order: 1;
    }

    /*END  SLIDE PORTFOLIO */

    /* --END PORTFOLIO-- */

    .products img {
        width: 90vw;
    }

    .view-all_mobile {
        display: block !important;
    }

    #products-list .view-all {
        display: none;
    }

    #products-detail .customer-content {
        margin-bottom: 55px;
    }

    .step-dots div:nth-child(1) {
        display: none;
    }

    .step-dots div:nth-child(2) {
        display: none;
    }

    .step-dots div:nth-child(3) {
        display: none;
    }

    .step-dots div:nth-child(4) {
        display: none;
    }

    .step-dots div:nth-child(5) {
        display: none;
    }

    .step-dots div:nth-child(6) {
        display: none;
    }

    .step-dots-2 div:nth-child(1) {
        display: none;
    }

    .step-dots-2 div:nth-child(2) {
        display: none;
    }

    .step-dots-2 div:nth-child(3) {
        display: none;
    }

    .step-dots-2 div:nth-child(4) {
        display: none;
    }

    .step-dots-2 div:nth-child(5) {
        display: none;
    }

    .step-dots-2 div:nth-child(6) {
        display: none;
    }

    .shape-style input:checked+label:before,
    .shape-style input:not(:checked)+label:before {
        left: 135px;
        top: -20px;
    }

    .shape-style input:checked+label:after,
    .shape-style input:not(:checked)+label:after {
        top: -15px;
        left: 140px;
    }
    .logo-list{
        width: 29.6%;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {

    /* FIRST PAGE */
    .logo {
        padding-left: 100px;
    }

    .navT {
        right: 50px;
    }

    .main-bg {
        width: 100vw;
        height: 158vh;
    }

    .left-bg {
        width: 100vw;
        height: 865px;
    }

    .main-bg_text {
        width: 26vh;
    }

    .quote-left {
        left: 20px;
    }

    .quote-right {
        left: 265px;
    }

    .right-bg {
        top: unset;
        right: unset;
        height: auto;
    }

    .right-bg>canvas {
        height: auto;
        width: 100%;
    }

    /* END FIRST PAGE */

    /* WHY CHOOSE US */
    #why-choose-us {
        width: 82vw;
        height: 43vh;
    }

    #why-choose-us .col-lg-3 {
        max-width: 12%;
    }

    #why-choose-us_canvas {
        display: none;
    }

    .why-choose-us_pic>img {
        max-width: 100%;
    }

    /* END WHY CHOOSE US */

    .tab-pane .owl-stage-outer>.owl-stage {
        padding: 0 !important;
    }

    .project-slide {
        height: 33vh;
        max-width: 100%;
    }

    .project-slide_bg {
        height: 33vh;
        width: 70vw;
        background-color: #fdb813;
        position: absolute;
        left: 60px;
    }

    .project-slide_bg-2 {
        height: 33vh;
        width: 70vw;
        background-color: #8dc63f;
        position: absolute;
        left: 60px;
    }

    .project-slide>.row {
        padding-top: 90px;
    }

    .project-slide>.row>.col-lg-5 {
        width: 40%;
    }

    .project-slide>.row>.col-lg-7 {
        width: 60%;
    }

    /* END PROJECT */

    /* BECAUSE */
    #because>.col-lg-4 {
        max-width: 100%;
    }

    .because-bg {
        width: 90vw;
        height: 45vh;
        right: 0;
    }

    .because-content>.container {
        padding-top: 0;
    }

    .because-content img {
        max-width: 100%;
        margin-top: 80px;
    }

    .because-content .col-lg-7 {
        padding-right: 0;
    }

    /* END BECAUSE */

    /* WITH */
    #with {
        margin-top: -120px;
    }

    .with-bg {
        height: 103vh;
        width: 100vw;
    }

    .with-main_content {
        padding-top: 50px;
    }

    .with-main_content>.container .row {
        margin-bottom: 130px;
    }

    .with-main_step {
        float: left !important;
    }

    .with-main_step--title {
        margin-top: 40px;
        margin-bottom: 65px;
    }

    .with-arrow1 {
        left: 330px;
        top: 190px;
    }

    .with-arrow2 {
        right: 330px;
        top: 530px;
    }

    .with-arrow3 {
        left: 330px;
        top: 870px;
    }

    .with-main_step--name {
        font-size: 30px;
    }

    /* WITH */

    /* CUSTOMER */
    #customer {
        height: 57vh;
    }

    .customer-content {
        height: 45vw;
        width: 94vw;
        float: right;
    }

    .customer-avatar>img {
        height: 107px !important;
        width: 107px !important;
        border-radius: 100%;
    }

    /* CUSTOMER */

    /* TALK */
    #talk>.col-lg-2 {
        max-width: 100%;
    }

    /* END TALK */
    .footer-mail p {
        margin-left: -2px;
    }



    /* --ABOUT-- */

    /* ABOUT US */
    #about-us {
        height: 92vh;
    }

    #about-us .container {
        padding-top: 45px;
    }

    .about-us_bg {
        height: 92vh;
    }

    .about-pic {
        margin-left: 0;
    }

    .about-text {
        width: 100%;
        ;
    }

    /* END ABOUT US */

    /* VISION */
    #vision {
        height: 60vh;
    }

    #vision .col-lg-3 {
        max-width: 53%;
        ;
    }

    #vision .container .col-lg-6:nth-child(1) {
        order: 2;
    }

    .vision-pic img {
        margin-top: 70px;
    }

    .vision-text {
        padding-top: 25px;
        padding-left: 0;
    }

    .vision-text h1 {
        font-size: 20px;
    }

    .vision-bg {
        height: 40vh;
        width: 86vw;
    }

    .vision-pic {
        margin-top: 20px;
    }

    /* END VISION */

    /* CORE */
    #core .container {
        padding-top: 40px;
    }

    .core-bg {
        height: 34vh;
        width: 85vw;
    }

    .core-pic img {
        max-width: 100%;
    }

    #core .col-lg-3 {
        max-width: 35%;
    }

    /* END CORE */

    /* --PORTFOLIO-- */

    /* SERVICE */
    #service {
        margin-top: 90px;
    }

    #service .col-md-2 {
        width: 50%;
        padding-left: 0;
    }

    #service .col-lg-2 {
        padding-left: 0;
    }

    /* END SERVICE */

    /* SLIDE PORTFOLIO */
    .slide-branding {
        height: 30vh;
    }

    .slide-branding_bg {
        width: 100vw;
        height: 26vh;
    }

    #slide-portfolio {
        margin-top: 130px;
    }

    .slide-portfolio_bg {
        left: 0;
        width: 42vw;
        height: 30vh;
    }

    .portfolio-img>img {
        margin-top: 90px;
    }

    .slide-website .container .row .col-lg-6 .portfolio-img>img {
        float: right;
    }

    .slide-portfolio-website_bg {
        right: 0;
        left: unset;
    }

    /*END  SLIDE PORTFOLIO */

    /* --END PORTFOLIO-- */
    #products-detail .customer-content {
        margin-bottom: 55px;
    }

    #products-detail .project-slide_name {
        font-size: 65px;
    }

    .step-dots div:nth-child(1) {
        display: none;
    }

    .step-dots div:nth-child(2) {
        display: none;
    }

    .step-dots div:nth-child(3) {
        display: none;
    }

    .step-dots-2 div:nth-child(1) {
        display: none;
    }

    .step-dots-2 div:nth-child(2) {
        display: none;
    }

    .step-dots-2 div:nth-child(3) {
        display: none;
    }

    .shape-style input:checked+label:before,
    .shape-style input:not(:checked)+label:before {
        left: 80px;
        top: -20px;
    }

    .shape-style input:checked+label:after,
    .shape-style input:not(:checked)+label:after {
        top: -15px;
        left: 85px;
    }
    .logo-list{
        width: 21.6%;
    }
}

@media(min-width: 1200px) {}