.rounded-sm {
  border-radius: 0.2rem !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.rounded-lg {
  border-radius: 1rem !important;
}

@media (min-width: 30em) {
  .filepond--item {
    width: calc(50% - .5em);
  }
}

@media (min-width: 50em) {
  .filepond--item {
    width: calc(33.33% - .5em);
  }
}

