<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/assets/client/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/client/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/assets/client/css/owl.theme.default.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel="stylesheet" href="/assets/client/css/aos.css" />
  <link rel="stylesheet" href="/assets/client/css/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/client/css/slick.css" />
  <link rel="stylesheet" href="/assets/client/css/style.css" />
  <link rel="stylesheet" href="/assets/client/css/pages.css" />
  <link rel="stylesheet" href="/assets/client/css/responsive.css" />

  <title>Cart</title>
</head>

<body>
  <!-- header -->
  <section id="header">
    <!-- top -->
    <div class="head-hotline">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-5">
            <p class="hotline text-uppercase m-0">
              hotline: 1900292976
            </p>
          </div>
          <div class="col-lg-6 col-md-7">
            <ul class="nav nav-head float-right">
              <li class="nav-item p-0">
                <select name="" id="" class="head-select">
                  <option value="">VNĐ</option>
                  <option value="">$</option>
                  <option value="">£</option>
                </select>
              </li>
              <li class="nav-item">
                <select name="" id="" class="head-select">
                  <option value="">Vietnamese</option>
                  <option value="">United States</option>
                  <option value="">England</option>
                </select>
              </li>
              <li class="nav-item">
                <a href="#">Đăng ký</a>
              </li>
              <li class="nav-item">
                <a href="#">Đăng nhập</a>
              </li>
              <li class="nav-item p-0">
                <button type="button" class="btn-search">
                  <i class="fas fa-search"></i>
                </button>
                <div class="search-header">
                  <input type="text" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- navbar -->
    <div id="navbar">
      <nav class="navbar navbar-expand-md">
        <div class="container">
          <a href="#" class="navbar-brand">
            <img src="/assets/client/img/head-logo.png" alt="" />
          </a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <i class="fas fa-bars text-white fa-2x pr-2"></i>
          </button>
          <div class="collapse navbar-collapse pt-lg-4 mt-sm-1" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">new arrival</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">tin tức</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">nữ</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">nam</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">monoco</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">gifts</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">showroom</a>
              </li>
            </ul>
            <div class="cart">
              <div class="cart-icon">
                <a href="#"> <i class="fas fa-shopping-basket"></i></a>
                <div class="cart-items">08</div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>

  <!-- checkout -->
  <section id="cart">
    <div class="container">
      <!-- steps  -->
      <div class="steps">
        <div class="row">
          <div class="col-lg-4">
            <div class="step-1 text-center">
              <div class="orange-circle mx-auto text-white active"><span class="number">01</span></div>
              <p class="text-uppercase font-weight-bold">giỏ hàng</p>
              <div class="orange-underline mx-auto"></div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="step-1 text-center">
              <div class="orange-circle mx-auto text-white"><span class="number">02</span></div>
              <p class="text-uppercase font-weight-bold">xác nhận đơn hàng</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="step-1 text-center">
              <div class="orange-circle mx-auto text-white"><span class="number">03</span></div>
              <p class="text-uppercase font-weight-bold">hóa đơn</p>
            </div>
          </div>
        </div>
      </div>
      <!-- cart -->
      <div class="cart">
        <!-- product -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" class="font-weight-bold">Sản phẩm</th>
              <th scope="col" class="font-weight-bold text-center">Giá</th>
              <th scope="col" class="font-weight-bold text-center">Số lượng</th>
              <th scope="col" class="font-weight-bold text-center">Thành tiền</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <th scope="row" style="vertical-align: middle !important;"><a href="#"><i
                    class="fas fa-times-circle text-muted"></i></a></th>
              <td>
                <div class="product d-flex align-items-center">
                  <div class="product-image">
                    <img src="/assets/client/img/products/product-1.png" class="img-fluid" alt="">
                  </div>
                  <a href="#" style="width: 240px; font-size: 16px !important; margin-bottom: -30px !important;"
                    class="font-weight-bold text-uppercase mb-0 ml-5">Túi
                    xách da trăn
                    nắp khóa
                    SKU: WABAG243-NBL-S
                    Đen - cỡ nhỏ</a>
                </div>
              </td>
              <td class="font-weight-bold text-center">3.500.000 vnđ</td>
              <td class="text-center">
                <div class="number-input">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                    class="my-auto ml-2"></button>
                  <input class="number" value="1" type="number" min="1" max="24" step="1" />
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                    class="plus my-auto mr-2"></button>
                </div>
              </td>
              <td class="text-center"><span class="orange-text">3.500.000 vnđ</span></td>
            </tr>

            <tr>
              <th scope="row" style="vertical-align: middle !important;"><a href="#"><i
                    class="fas fa-times-circle text-muted"></i></a></th>
              <td>
                <div class="product d-flex align-items-center">
                  <div class="product-image">
                    <img src="/assets/client/img/products/product-2.png" class="img-fluid" alt="">
                  </div>
                  <a href="#" style="width: 240px; font-size: 16px !important; margin-bottom: -30px !important;"
                    class="font-weight-bold text-uppercase mb-0 ml-5">Túi xách da trăn nắp bạc
                    SKU: RDBAG243-NBL-S
                    Đen - cỡ nhỏ</a>
                </div>
              </td>
              <td class="font-weight-bold text-center">2.500.000 vnđ</td>
              <td class="text-center">
                <div class="number-input">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                    class="my-auto ml-2"></button>
                  <input class="number" value="1" type="number" oninput="format(this)" min="1" max="24" step="1" />
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                    class="plus my-auto mr-2"></button>
                </div>
              </td>
              <td class="text-center"><span class="orange-text">2.500.000 vnđ</span></td>
            </tr>

            <tr>
              <th scope="row" style="vertical-align: middle !important;"><a href="#"><i
                    class="fas fa-times-circle text-muted"></i></a></th>
              <td>
                <div class="product d-flex align-items-center">
                  <div class="product-image">
                    <img src="/assets/client/img/products/product-3.png" class="img-fluid" alt="">
                  </div>
                  <a href="#" style="width: 240px; font-size: 16px !important;  margin-bottom: -30px !important;"
                    class="font-weight-bold text-uppercase mb-0 ml-5">Túi xách da
                    SKU: LWBAG243-NBL-S
                    Đen - cỡ nhỏ </a>
                </div>
              </td>
              <td class="font-weight-bold text-center">1.500.000 vnđ</td>
              <td class="text-center">
                <div class="number-input">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                    class="my-auto ml-2"></button>
                  <input class="number" value="1" type="number" oninput="format(this)" min="1" max="24" step="1" />
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                    class="plus my-auto mr-2"></button>
                </div>
              </td>
              <td class="text-center">
                <span class="orange-text">1.500.000 vnđ</span>
              </td>
            </tr>

          </tbody>
        </table>
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6 mt-5">
            <p class="font-weight-bold text-uppercase">đơn hàng</p>
            <div class="d-flex justify-content-between p-2">
              <p class="text-capitalize font-weight-bold m-0">thành tiền:</p>
              <p class="orange-text m-0" style="font-size:20px;">7.500.000 vnđ</p>
            </div>
            <div class="form-underline"></div>
            <div class="d-flex justify-content-between p-2">
              <p class="text-capitalize font-weight-bold m-0">khuyến mãi:</p>
              <p class="font-weight-bold m-0">-500.000 vnđ</p>
            </div>
            <div class="form-underline"></div>
            <!-- Total -->
            <div class="d-flex justify-content-between mt-3 text-white p-2" style="background: #e36b00;">
              <p class="text-capitalize font-weight-bold m-0">tổng tiền:</p>
              <p class="font-weight-bold m-0">7.000.000 vnđ</p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-underline my-5"></div>
      <div class="row mb-5">
        <div class="col-lg-6">
          <div class="coupon-input">
            <form action="" class="d-flex justify-content-between">
              <input type="text" class="code form-control p-3" placeholder="Mã giảm giá">
              <button type="submit" class="btn code-apply text-uppercase orange-text orange-border font-weight-bold">áp
                dụng</button>
            </form>
          </div>
        </div>
        <div class="col-lg-6">
          <button type="submit"
            class="btn confirm text-uppercase orange-text orange-border font-weight-bold float-right">xác nhận đơn
            hàng</button>
        </div>
      </div>

      <div class="more-product">
        <div class="row">
          <p class="text-capitalize" style="font-size: 34px; margin-bottom: 40px;">sản phẩm bạn có thể thích</p>
          <div class="container">
            <div class="row mb-4">
              <div class="col-lg-3">
                <div class="product">
                  <div class="card">
                    <div class="product-img">
                      <a href="#"><img src="/assets/client/img/products/product-1.png"
                          class="mx-auto d-flex justify-content-center" alt=""></a>
                      <div class="product-colors justify-content-center d-flex">
                        <div class="product-color" style="background: #2d2d2d;"></div>
                        <div class="product-color" style="background: #ffffff;"></div>
                        <div class="product-color" style="background: #f55678;"></div>
                        <div class="product-color" style="background: #ffa733;"></div>
                      </div>
                    </div>
                    <div class="card-body">
                      <a href="#" class="product-name">Luxury Bag for Women</a>
                      <!-- rating -->
                      <div class="rating">
                        <!-- <input name="stars1" id="e1" type="radio"> -->
                        <label for="e1">
                          <i class="fas fa-star"></i>
                        </label>
                        <!-- <input name="stars1" id="e2" type="radio"> -->
                        <label for="e2">
                          <i class="fas fa-star"></i>
                        </label>
                        <!-- <input name="stars1" id="e3" type="radio"> -->
                        <label for="e3">
                          <i class="fas fa-star"></i>
                        </label>
                        <!-- <input name="stars1" id="e4" type="radio"> -->
                        <label for="e4">
                          <i class="fas fa-star"></i>
                        </label>
                        <!-- <input name="stars1" id="e5" type="radio"> -->
                        <label for="e5">
                          <i class="fas fa-star"></i>
                        </label>
                      </div>
                      <div class="clear"></div>
                      <!-- price -->
                      <div class="product-price">
                        <span class="old-price">8.000.000</span>
                        <span class="new-price">4.000.000</span>
                      </div>
                    </div>
                    <div class="list-group list-group-flush">
                      <div class="list-group-item">
                        <a href="#" class="cart-link text-muted">
                          <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                          <span>Add to cart</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="product">
                  <div class="card">
                    <div class="product-img">
                      <a href="#"><img src="/assets/client/img/products/product-2.png"
                          class="mx-auto d-flex justify-content-center" alt=""></a>
                      <div class="product-colors justify-content-center d-flex">
                        <div class="product-color" style="background: #2d2d2d;"></div>
                        <div class="product-color" style="background: #ffffff;"></div>
                        <div class="product-color" style="background: #f55678;"></div>
                        <div class="product-color" style="background: #ffa733;"></div>
                      </div>
                    </div>
                    <div class="card-body">
                      <a href="#" class="product-name">Luxury Bag for Women</a>
                      <!-- rating -->
                      <div class="rating">
                        <!-- <input name="stars1" id="e1" type="radio"> -->
                        <label for="e1">
                          <i class="fas fa-star"></i>
                        </label>
                        <!-- <input name="stars1" id="e2" type="radio"> -->
                        <label for="e2">
                          <i class="fas fa-star"></i>
                        </label>
                        <!-- <input name="stars1" id="e3" type="radio"> -->
                        <label for="e3">
                          <i class="fas fa-star"></i>
                        </label>
                        <!-- <input name="stars1" id="e4" type="radio"> -->
                        <label for="e4">
                          <i class="fas fa-star"></i>
                        </label>
                        <!-- <input name="stars1" id="e5" type="radio"> -->
                        <label for="e5">
                          <i class="fas fa-star"></i>
                        </label>
                      </div>
                      <div class="clear"></div>
                      <!-- price -->
                      <div class="product-price">
                        <span class="old-price">8.000.000</span>
                        <span class="new-price"></span>
                      </div>
                    </div>
                    <div class="list-group list-group-flush">
                      <div class="list-group-item">
                        <a href="#" class="cart-link text-muted">
                          <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                          <span>Add to cart</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="product">
                  <div class="card">
                    <div class="product-img">
                      <a href="#"><img src="/assets/client/img/products/product-3.png"
                          class="mx-auto d-flex justify-content-center" alt=""></a>
                      <div class="product-colors justify-content-center d-flex">
                        <div class="product-color" style="background: #2d2d2d;"></div>
                        <div class="product-color" style="background: #ffffff;"></div>
                        <div class="product-color" style="background: #f55678;"></div>
                        <div class="product-color" style="background: #ffa733;"></div>
                      </div>
                    </div>
                    <div class="card-body">
                      <a href="#" class="product-name">Luxury Bag for Women</a>
                      <!-- rating -->
                      <div class="rating">
                        <!-- <input name="stars1" id="e1" type="radio"> -->
                        <label for="e1">
                          <i class="fas fa-star"></i>
                        </label>
                        <!-- <input name="stars1" id="e2" type="radio"> -->
                        <label for="e2">
                          <i class="fas fa-star"></i>
                        </label>
                        <!-- <input name="stars1" id="e3" type="radio"> -->
                        <label for="e3">
                          <i class="fas fa-star"></i>
                        </label>
                        <!-- <input name="stars1" id="e4" type="radio"> -->
                        <label for="e4">
                          <i class="fas fa-star"></i>
                        </label>
                        <!-- <input name="stars1" id="e5" type="radio"> -->
                        <label for="e5">
                          <i class="fas fa-star"></i>
                        </label>
                      </div>
                      <div class="clear"></div>
                      <!-- price -->
                      <div class="product-price">
                        <span class="old-price">8.000.000</span>
                        <span class="new-price"></span>
                      </div>
                    </div>
                    <div class="list-group list-group-flush">
                      <div class="list-group-item">
                        <a href="#" class="cart-link text-muted">
                          <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                          <span>Add to cart</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="product">
                  <div class="card">
                    <div class="product-img">
                      <a href="#"><img src="/assets/client/img/products/product-4.png"
                          class="mx-auto d-flex justify-content-center" alt=""></a>
                      <div class="product-colors justify-content-center d-flex">
                        <div class="product-color" style="background: #2d2d2d;"></div>
                        <div class="product-color" style="background: #ffffff;"></div>
                        <div class="product-color" style="background: #f55678;"></div>
                        <div class="product-color" style="background: #ffa733;"></div>
                      </div>
                    </div>
                    <div class="card-body">
                      <a href="#" class="product-name">Luxury Bag for Women</a>
                      <!-- rating -->
                      <div class="rating">
                        <!-- <input name="stars1" id="e1" type="radio"> -->
                        <label for="e1">
                          <i class="fas fa-star"></i>
                        </label>
                        <!-- <input name="stars1" id="e2" type="radio"> -->
                        <label for="e2">
                          <i class="fas fa-star"></i>
                        </label>
                        <!-- <input name="stars1" id="e3" type="radio"> -->
                        <label for="e3">
                          <i class="fas fa-star"></i>
                        </label>
                        <!-- <input name="stars1" id="e4" type="radio"> -->
                        <label for="e4">
                          <i class="fas fa-star"></i>
                        </label>
                        <!-- <input name="stars1" id="e5" type="radio"> -->
                        <label for="e5">
                          <i class="fas fa-star"></i>
                        </label>
                      </div>
                      <div class="clear"></div>
                      <!-- price -->
                      <div class="product-price">
                        <span class="old-price">8.000.000</span>
                        <span class="new-price"></span>
                      </div>
                    </div>
                    <div class="list-group list-group-flush">
                      <div class="list-group-item">
                        <a href="#" class="cart-link text-muted">
                          <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                          <span>Add to cart</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- showroom -->
  <section id="showroom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 showroom">
          <div class="col-lg-7 float-right">
            <h2 class="showroom-title text-uppercase">showroom</h2>
            <p>Hiện tại Moolez đã có 16 cửa hàng tại Việt Nam được phân bố rộng rãi các vùng miền</p>
            <a href="#" class="learn text-uppercase">learn more</a>
          </div>
        </div>

        <div class="col-md-6 letter"
          style="background: url('/assets/client/img/banner.png') no-repeat center; background-size: cover;">
          <div class="col-lg-10">
            <h2 class="letter-title text-uppercase">sign up for newsletter</h2>
            <div class="position-relative">
              <input type="email" name="" id="" placeholder="Your email address">
              <button class="btn-sub text-uppercase">subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <section id="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12 pt-5 mb-3">
          <img class="mb-5" src="/assets/client/img/head-logo.png" alt="" />
          <p>CÔNG TY CP THỜI TRANG MOOLEZ VIỆT NAM</p>
          <P>Giấy ĐKDN: 017084424 - Ngày cấp: 12/05/2017, được sửa đổi lần thứ nhất
            ngày 24/07/2017</P>
          <p>
            Cơn quan cáp: Phòng Đăng Ký kinh doanh - Sở kế hoạch và đầu tư TP.Hà Nội
          </p>
          <p>
            Địa chỉ đăng ký kinh doanh: Số 18 Đoàn Trần Nghiệp, Phường Bùi Thị Xuân,
            Quận Hai Ba Trưng, TP.Hà Nội
          </p>
          <p class="mt-5">
            Bản quyển &copy; 2019 thuộc công ty Moolez VietNam jsc Design By Leotive
          </p>
        </div>
        <div class="col-lg-4 col-md-12 policy pl-5">
          <a href="#">Chính Sách Đổi Trả</a>
          <a href="#">Chính Sách Bảo Hành</a>
          <a href="#">Chính Sách Thẻ VIP</a>
          <a href="#">Chính Sách Đại Lý</a>
          <a href="#">Chính Sách Bảo Mật Thông Tin Khách Hàng</a>
          <a href="#">Hướng Dẫn Chọn Size Giầy</a>
          <a href="#">Chính Sách Bán Hàng Trên Website</a>
        </div>
        <div class="col-lg-3 col-md-12 mt-3 pl-5" style="line-height: 2;">
          <div class="footer-icon d-flex mt-5 mb-5">
            <a class="mr-2" href=""><i class="fab fa-twitter fa-2x"></i></a>
            <a class="mr-2" href=""><i class="fab fa-pinterest fa-2x"></i></a>
            <a href=""><i class="fab fa-facebook fa-2x"></i></a>
          </div>
          <a href="">Trang chủ</a>
          <a href="">Giới thiệu</a>
          <a href="">Câu hỏi thường gặp</a>
          <a href="">Liên hệ với chúng tôi</a>
          <a href="">Liên hệ với đại lý</a>
          <img class="mt-5" src="/assets/client/img/bo-cong-thuong.png" alt="" />
        </div>
      </div>
      <div class="row  mt-4" style="color: #a3a3a3; font-size: 13px;">
        <div class="col-4 pt-3">DỊCH PHỤ KHÁCH HÀNG: 0932 221 285</div>
        <div class="col-5 pt-3">GIỜ LÀM VIỆC: CÁCH NGÀY TRONG TUẦN 8:00 ĐẾN 18:00</div>
        <div class="col-3 mb-5">
          <a href=""><img src="/assets/client/img/chart.png" alt=""></a>
        </div>
      </div>
    </div>
  </section>

  <script src="/assets/client/js/jquery.min.js"></script>
  <script src="/assets/client/js/popper.min.js"></script>
  <script src="/assets/client//bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/client/js/slick.min.js"></script>
  <script src="https://kit.fontawesome.com/969fc0c091.js" crossorigin="anonymous"></script>
  <script src="/assets/client/js/aos.js"></script>
  <script src="/assets/client/js/owl.carousel.js"></script>
  <script src="/assets/client/js/script.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js">
  </script>
</body>

</html>