<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/assets/client/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/client/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/assets/client/css/owl.theme.default.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel="stylesheet" href="/assets/client/css/aos.css" />
  <link rel="stylesheet" href="/assets/client/css/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/client/css/slick.css" />
  <link rel="stylesheet" href="/assets/client/css/style.css" />
  <link rel="stylesheet" href="/assets/client/css/pages.css" />
  <link rel="stylesheet" href="/assets/client/css/responsive.css" />

  <title>Check out</title>
</head>

<body>
  <!-- header -->
  <section id="header">
    <!-- top -->
    <div class="head-hotline">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-5">
            <p class="hotline text-uppercase m-0">
              hotline: 1900292976
            </p>
          </div>
          <div class="col-lg-6 col-md-7">
            <ul class="nav nav-head float-right">
              <li class="nav-item p-0">
                <select name="" id="" class="head-select">
                  <option value="">VNĐ</option>
                  <option value="">$</option>
                  <option value="">£</option>
                </select>
              </li>
              <li class="nav-item">
                <select name="" id="" class="head-select">
                  <option value="">Vietnamese</option>
                  <option value="">United States</option>
                  <option value="">England</option>
                </select>
              </li>
              <li class="nav-item">
                <a href="#">Đăng ký</a>
              </li>
              <li class="nav-item">
                <a href="#">Đăng nhập</a>
              </li>
              <li class="nav-item p-0">
                <button type="button" class="btn-search">
                  <i class="fas fa-search"></i>
                </button>
                <div class="search-header">
                  <input type="text" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- navbar -->
    <div id="navbar">
      <nav class="navbar navbar-expand-md">
        <div class="container">
          <a href="#" class="navbar-brand">
            <img src="/assets/client/img/head-logo.png" alt="" />
          </a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <i class="fas fa-bars text-white fa-2x pr-2"></i>
          </button>
          <div class="collapse navbar-collapse pt-lg-4 mt-sm-1" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">new arrival</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">tin tức</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">nữ</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">nam</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">monoco</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">gifts</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">showroom</a>
              </li>
            </ul>
            <div class="cart">
              <div class="cart-icon">
                <a href="#"> <i class="fas fa-shopping-basket"></i></a>
                <div class="cart-items">08</div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>

  <!-- checkout -->
  <section id="checkout">
    <div class="container">
      <!-- steps  -->
      <div class="steps">
        <div class="row">
          <div class="col-lg-4">
            <div class="step-1 text-center">
              <div class="orange-circle mx-auto text-white active"><span class="number">01</span></div>
              <p class="text-uppercase font-weight-bold">giỏ hàng</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="step-1 text-center">
              <div class="orange-circle mx-auto text-white active"><span class="number">02</span></div>
              <p class="text-uppercase font-weight-bold">xác nhận đơn hàng</p>
              <div class="orange-underline mx-auto"></div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="step-1 text-center">
              <div class="orange-circle mx-auto text-white" style="background: #ffffff"><span class="number"
                  style="color: #000000">03</span></div>
              <p class="text-uppercase font-weight-bold">hóa đơn</p>
            </div>
          </div>
        </div>
      </div>
      <!-- form checkout -->
      <div class="form-checkout">
        <p>Cần phải đăng nhập để thanh toán? <a href="#" class="reg font-weight-bold">Nhấn vào đây để Đăng ký hoặc Đăng
            nhập</a></p>
        <form action="#" id="form-checkout">
          <div class="row">
            <div class="col-lg-7">
              <div class="checkout-info">
                <p class="text-uppercase font-weight-bold">thông tin thanh toán</p>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="name" class="font-weight-bold">HỌ *</label>
                      <input type="text" name="ho" class="form-control form-control-block">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="name" class="font-weight-bold">TÊN *</label>
                      <input type="text" name="ten" class="form-control form-control-block">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="font-weight-bold">EMAIL *</label>
                  <input type="email" name="email" class="form-control form-control-block">
                </div>
                <div class="form-group">
                  <label for="name" class="font-weight-bold">ĐỊA CHỈ *</label>
                  <input type="text" name="address" class="form-control form-control-block">
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="name" class="font-weight-bold">THÀNH PHỐ *</label>
                      <input type="text" name="city" class="form-control form-control-block">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="name" class="font-weight-bold">SỐ ĐIỆN THOẠI *</label>
                      <input type="number" name="phone" class="form-control form-control-block">
                    </div>
                  </div>
                </div>
                <div class="form-group my-4">
                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark align-self-center"></span> <span style="margin-left: 35px;">Sử dụng cùng một
                      địa chỉ thanh toán ?</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <p class="text-uppercase font-weight-bold m-0">phương thức vận chuyển</p>
              <div class="form-underline"></div>
              <div class="form-group m-4">
                <label class="checkbox-container">
                  <input type="checkbox">
                  <span class="checkmark align-self-center"></span> <span style="margin-left: 35px;">Theo cước phí
                    chuyển phát dự kiến - 50.000 vnđ</span>
                </label>
              </div>
              <p class="text-uppercase font-weight-bold m-0">phương thức thanh toán</p>
              <div class="form-underline"></div>
              <div class="form-group m-4">
                <label class="checkbox-container">
                  <input type="checkbox">
                  <span class="checkmark align-self-center"></span> <span style="margin-left: 35px;">Thanh toán khi nhận
                    hàng - COD</span>
                </label>
              </div>
              <div class="form-group m-4">
                <label class="checkbox-container">
                  <input type="checkbox">
                  <span class="checkmark align-self-center"></span> <span style="margin-left: 35px;">Thanh toán trực
                    tuyến - VNPay</span>
                </label>
              </div>
              <button type="submit" class="btn checkout-button align-self-end text-uppercase font-weight-bold">thanh
                toán</button>
            </div>
          </div>
        </form>
      </div>
      <!-- receipt -->
      <div class="receipt">
        <div class="row mb-4">
          <div class="col-lg-10 mx-auto text-center">
            <p class="text-uppercase font-weight-bold">đơn hàng của bạn</p>
            <div class="orange-underline mx-auto"></div>
          </div>
        </div>
        <div class="row justify-content-between p-2">
          <p class="font-weight-bold text-uppercase ml-3 mb-0">sản phẩm</p>
          <p class="font-weight-bold text-uppercase mr-3 mb-0">tổng tiền</p>
        </div>
        <div class="form-underline"></div>
      </div>
      <!-- product quantity -->
      <div class="row p-2" style="margin-top: 25px;">
        <div class="col-lg-6">
          <div class="product-quantity d-flex flex-column">
            <a href="#" class="text-capitalize mb-3">túi sách da trăn nắp khóa <span
                class="quantity text-uppercase ml-2"> x
                01</span>
            </a>
            <a href="#" class="text-capitalize mb-3">túi sách da trăn nắp bạc <span
                class="quantity text-uppercase ml-2"> x
                01</span>
            </a>
            <a href="#" class="text-capitalize mb-3">túi sách da trăn <span class="quantity text-uppercase ml-2"> x
                01</span></a>
          </div>
        </div>
        <div class="col-lg-6 text-right">
          <p class="font-weight-bold">3.500.000 vnđ</p>
          <p class="font-weight-bold">2.500.000 vnđ</p>
          <p class="font-weight-bold">1.500.000 vnđ</p>
        </div>
      </div>
      <div class="form-underline"></div>
      <div class="d-flex justify-content-between p-2">
        <p class="text-capitalize font-weight-bold m-0">thành tiền:</p>
        <p class="orange-text m-0" style="font-size:20px;">7.500.000 vnđ</p>
      </div>
      <div class="form-underline"></div>
      <div class="d-flex justify-content-between p-2">
        <p class="text-capitalize font-weight-bold m-0">khuyến mãi:</p>
        <p class="font-weight-bold m-0">-500.000 vnđ</p>
      </div>
      <div class="form-underline"></div>
      <!-- Total -->
      <div class="d-flex justify-content-between mt-3 text-white p-2" style="background: #e36b00;">
        <p class="text-capitalize font-weight-bold m-0">tổng tiền:</p>
        <p class="font-weight-bold m-0">7.000.000 vnđ</p>
      </div>
    </div>
  </section>
  <!-- showroom -->
  <section id="showroom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 showroom">
          <div class="col-lg-7 float-right">
            <h2 class="showroom-title text-uppercase">showroom</h2>
            <p>Hiện tại Moolez đã có 16 cửa hàng tại Việt Nam được phân bố rộng rãi các vùng miền</p>
            <a href="#" class="learn text-uppercase">learn more</a>
          </div>
        </div>

        <div class="col-md-6 letter"
          style="background: url('/assets/client/img/banner.png') no-repeat center; background-size: cover;">
          <div class="col-lg-10">
            <h2 class="letter-title text-uppercase">sign up for newsletter</h2>
            <div class="position-relative">
              <input type="email" name="" id="" placeholder="Your email address">
              <button class="btn-sub text-uppercase">subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <section id="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12 pt-5 mb-3">
          <img class="mb-5" src="/assets/client/img/head-logo.png" alt="" />
          <p>CÔNG TY CP THỜI TRANG MOOLEZ VIỆT NAM</p>
          <P>Giấy ĐKDN: 017084424 - Ngày cấp: 12/05/2017, được sửa đổi lần thứ nhất
            ngày 24/07/2017</P>
          <p>
            Cơn quan cáp: Phòng Đăng Ký kinh doanh - Sở kế hoạch và đầu tư TP.Hà Nội
          </p>
          <p>
            Địa chỉ đăng ký kinh doanh: Số 18 Đoàn Trần Nghiệp, Phường Bùi Thị Xuân,
            Quận Hai Ba Trưng, TP.Hà Nội
          </p>
          <p class="mt-5">
            Bản quyển &copy; 2019 thuộc công ty Moolez VietNam jsc Design By Leotive
          </p>
        </div>
        <div class="col-lg-4 col-md-12 policy pl-5">
          <a href="#">Chính Sách Đổi Trả</a>
          <a href="#">Chính Sách Bảo Hành</a>
          <a href="#">Chính Sách Thẻ VIP</a>
          <a href="#">Chính Sách Đại Lý</a>
          <a href="#">Chính Sách Bảo Mật Thông Tin Khách Hàng</a>
          <a href="#">Hướng Dẫn Chọn Size Giầy</a>
          <a href="#">Chính Sách Bán Hàng Trên Website</a>
        </div>
        <div class="col-lg-3 col-md-12 mt-3 pl-5" style="line-height: 2;">
          <div class="footer-icon d-flex mt-5 mb-5">
            <a class="mr-2" href=""><i class="fab fa-twitter fa-2x"></i></a>
            <a class="mr-2" href=""><i class="fab fa-pinterest fa-2x"></i></a>
            <a href=""><i class="fab fa-facebook fa-2x"></i></a>
          </div>
          <a href="">Trang chủ</a>
          <a href="">Giới thiệu</a>
          <a href="">Câu hỏi thường gặp</a>
          <a href="">Liên hệ với chúng tôi</a>
          <a href="">Liên hệ với đại lý</a>
          <img class="mt-5" src="/assets/client/img/bo-cong-thuong.png" alt="" />
        </div>
      </div>
      <div class="row  mt-4" style="color: #a3a3a3; font-size: 13px;">
        <div class="col-4 pt-3">DỊCH PHỤ KHÁCH HÀNG: 0932 221 285</div>
        <div class="col-5 pt-3">GIỜ LÀM VIỆC: CÁCH NGÀY TRONG TUẦN 8:00 ĐẾN 18:00</div>
        <div class="col-3 mb-5">
          <a href=""><img src="/assets/client/img/chart.png" alt=""></a>
        </div>
      </div>
    </div>
  </section>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/slick.min.js"></script>
  <script src="https://kit.fontawesome.com/969fc0c091.js" crossorigin="anonymous"></script>
  <script src="js/aos.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/script.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js">
  </script>
</body>

</html>