<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="favicon.webp" type="image/x-icon" />
  <link rel="stylesheet" href="/assets/client/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/client/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/assets/client/css/owl.theme.default.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel="stylesheet" href="/assets/client/css/aos.css" />
  <link rel="stylesheet" href="/assets/client/css/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/client/css/slick.css" />
  <link rel="stylesheet" href="/assets/client/css/style.css" />
  <link rel="stylesheet" href="/assets/client/css/pages.css" />
  <link rel="stylesheet" href="/assets/client/css/responsive.css" />
  <script src="/assets/client/js/jquery.min.js"></script>
  <script src="/assets/client/js/popper.min.js"></script>
  <script src="/assets/client/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/client/js/slick.min.js"></script>
  <script src="https://kit.fontawesome.com/969fc0c091.js" crossorigin="anonymous"></script>
  <script src="/assets/client/js/aos.js"></script>
  <script src="/assets/client/js/owl.carousel.js"></script>
  <script src="/assets/client/js/script.js"></script>
  <title>Product Detail</title>
</head>

<body>
  <!-- header -->
  <section id="header">
    <!-- top -->
    <div class="head-hotline">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-5">
            <p class="hotline text-uppercase m-0">
              hotline: 1900292976
            </p>
          </div>
          <div class="col-lg-6 col-md-7">
            <ul class="nav nav-head float-right">
              <li class="nav-item p-0">
                <select name="" id="" class="head-select">
                  <option value="">VNĐ</option>
                  <option value="">$</option>
                  <option value="">£</option>
                </select>
              </li>
              <li class="nav-item">
                <select name="" id="" class="head-select">
                  <option value="">Vietnamese</option>
                  <option value="">United States</option>
                  <option value="">England</option>
                </select>
              </li>
              <li class="nav-item">
                <a href="#">Đăng ký</a>
              </li>
              <li class="nav-item">
                <a href="#">Đăng nhập</a>
              </li>
              <li class="nav-item p-0">
                <button type="button" class="btn-search">
                  <i class="fas fa-search"></i>
                </button>
                <div class="search-header">
                  <input type="text" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- navbar -->
    <div id="navbar">
      <nav class="navbar navbar-expand-md">
        <div class="container">
          <a href="#" class="navbar-brand">
            <img src="/assets/client/img/head-logo.png" alt="" />
          </a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <i class="fas fa-bars text-white fa-2x pr-2"></i>
          </button>
          <div class="collapse navbar-collapse pt-lg-4 mt-sm-1" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">new arrival</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">tin tức</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">nữ</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">nam</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">monoco</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">gifts</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">showroom</a>
              </li>
            </ul>
            <div class="cart">
              <div class="cart-icon">
                <a href="#"> <i class="fas fa-shopping-basket"></i></a>
                <div class="cart-items">08</div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

  </section>
  <!-- breadcrumb -->
  <div class="bread-crumb">
    <div class="row" style="background: #ebebeb;">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Sản phẩm nữ</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a class="active" href="#">Túi Flashligh da
                trăn</a></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <section id="product-detail">
    <!-- product-slide-image -->
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="single_product_thumb">
            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
              <div class="row d-flex-space-between">
                <div class="col-lg-2 d-flex justify-content-between flex-column p-0">
                  <button onclick="scrollUp()" class="up-button text-center ml-4" style="z-index: 999;"><i
                      class="fas fa-angle-up"></i>
                  </button>
                  <ol class="carousel-indicators d-flex flex-column align-items-center m-0">

                    <ul class="thumbnail mr-3" style="height: 95%;">
                      <li class="active" data-target="#product_details_slider" data-slide-to="0"
                        style="background-image: url(/assets/client/img/products/product-1.png); background-size: 57px 65px; background-repeat: no-repeat;">
                      </li>
                      <li data-target="#product_details_slider" data-slide-to="1"
                        style="background-image: url(/assets/client/img/products/product-2.png); background-size: 57px 65px; background-repeat: no-repeat;">
                      </li>
                      <li data-target="#product_details_slider" data-slide-to="2"
                        style="background-image: url(/assets/client/img/products/product-3.png); background-size: 57px 65px; background-repeat: no-repeat;">
                      </li>
                      <li data-target="#product_details_slider" data-slide-to="3"
                        style="background-image: url(/assets/client/img/products/product-4.png); background-size: 57px 65px; background-repeat: no-repeat;">
                      </li>
                      <li data-target="#product_details_slider" data-slide-to="4"
                        style="background-image: url(/assets/client/img/products/product-5.png); background-size: 57px 65px; background-repeat: no-repeat;">
                      </li>
                      <li data-target="#product_details_slider" data-slide-to="5"
                        style="background-image: url(/assets/client/img/products/product-6.png); background-size: 57px 65px; background-repeat: no-repeat;">
                      </li>
                    </ul>

                  </ol>
                  <button onclick="scrollDown()" class="down-button text-center ml-4" style="z-index: 999;"><i
                      class="fas fa-angle-down"></i>
                  </button>
                </div>
                <div class="col-lg-9">
                  <div class="carousel-inner">
                    <div class="carousel-item active py-3" style="max-height: 600px;">
                      <a class="gallery_img" href="/assets/client/img/products/product-1.png">
                        <img class="d-block w-75 mx-auto" style="height: 384px; margin-top: 90px; margin-bottom: 90px;"
                          src="/assets/client/img/products/product-1.png" alt="First slide">
                      </a>
                    </div>
                    <div class="carousel-item py-3" style="height: 600px;">
                      <a class="gallery_img" href="/assets/client/img/products/product-2.png">
                        <img class="d-block w-75 mx-auto" style="height: 384px; margin-top: 90px; margin-bottom: 90px;"
                          src="/assets/client/img/products/product-2.png" alt="Second slide">
                      </a>
                    </div>
                    <div class="carousel-item py-3" style="height: 600px;">
                      <a class="gallery_img" href="/assets/client/img/products/product-3.png">
                        <img class="d-block w-75 mx-auto" style="height: 384px; margin-top: 90px; margin-bottom: 90px;"
                          src="/assets/client/img/products/product-3.png" alt="Third slide">
                      </a>
                    </div>
                    <div class="carousel-item py-3" style="height: 600px;">
                      <a class="gallery_img" href="/assets/client/img/products/product-4.png">
                        <img class="d-block w-75 mx-auto" style="height: 384px; margin-top: 90px; margin-bottom: 90px;"
                          src="/assets/client/img/products/product-4.png" alt="Fourth slide">
                      </a>
                    </div>
                    <div class="carousel-item py-3" style="height: 600px;">
                      <a class="gallery_img" href="/assets/client/img/products/product-5.png">
                        <img class="d-block w-75 mx-auto" style="height: 384px; margin-top: 90px; margin-bottom: 90px;"
                          src="/assets/client/img/products/product-4.png" alt="Fourth slide">
                      </a>
                    </div>
                    <div class="carousel-item py-3" style="height: 600px;">
                      <a class="gallery_img" href="/assets/client/img/products/product-6.png">
                        <img class="d-block w-75 mx-auto" style="height: 384px; margin-top: 90px; margin-bottom: 90px;"
                          src="/assets/client/img/products/product-4.png" alt="Fourth slide">
                      </a>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
        <div class="col-lg-5 p-0">
          <h5 class="product-name font-weight-bold">Túi Flashlight da trăn</h5>
          <div class="product-code my-3">SKU: WASLG064-NBL-000
          </div>
          <!-- price -->
          <div class="product-price">
            <span class="new-price font-weight-bold">1.500.000</span>
            <span class="old-price text-muted">2.500.000</span>
          </div>
          <!-- review -->
          <div class="review d-flex mt-2">
            <!-- rating -->
            <div class="rating m-0">
              <!-- <input name="stars1" id="e1" type="radio"> -->
              <label for="e1">
                <i class="fas fa-star"></i>
              </label>
              <!-- <input name="stars1" id="e2" type="radio"> -->
              <label for="e2">
                <i class="fas fa-star"></i>
              </label>
              <!-- <input name="stars1" id="e3" type="radio"> -->
              <label for="e3">
                <i class="fas fa-star"></i>
              </label>
              <!-- <input name="stars1" id="e4" type="radio"> -->
              <label for="e4">
                <i class="fas fa-star"></i>
              </label>
              <!-- <input name="stars1" id="e5" type="radio"> -->
              <label for="e5">
                <i class="fas fa-star"></i>
              </label>
            </div>
            <span class="ml-2">(3 Đánh giá)</span>
            <a href="#" class="ml-3 text-muted"><i class="fas fa-edit"></i> Viết đánh giá</a>
          </div>
          <!-- detail -->
          <div class="details">
            <div class="row">
              <div class="col-lg-5">
                <p>* Chất liệu : da trăn</p>
                <p>* Màu sắc : đen</p>
              </div>
              <div class="col-lg-7">
                <p>* Xuất xứ : P.R.C</p>
                <p>* Kích thước : 24*4*14</p>
              </div>
              <div class="col-lg-12">
                <p class="description">* Mô tả : Ví dài viền ánh kim <span id="dots">.</span><span id="more"
                    style="display: none;">Lorem, ipsum
                    dolor sit amet consectetur adipisicing elit. Libero, tenetur!</span>
                </p>
              </div>
            </div>
            <a class="font-weight-bold" onclick="myFunction()" id="myBtn">Xem thêm...</a>
          </div>
          <!-- policy -->
          <div class="policy">
            <div class="row" style="margin-left: 5px;">
              <div class="col-lg-4 text-center" style="padding: 22px 0;">
                <p class="text-muted m-0">Hỗ trợ đặt hàng</p>
                <p class="font-weight-bold m-0">1900292976</p>
              </div>
              <div class="col-lg-4 text-center" style="padding: 22px 0;">
                <p class="text-muted m-0">Thời gian đổi hàng</p>
                <p class="font-weight-bold m-0">7 ngày</p>
              </div>
              <div class="col-lg-4 text-center" style="padding: 22px 0;">
                <p class="text-muted m-0">Bảo hành VIP</p>
                <p class="font-weight-bold m-0">12 tháng</p>
              </div>
            </div>
          </div>
          <div class="form-underline mt-3 w-100" style="width: 102% !important; margin-left: 6px;"></div>
          <form action="">
            <div class="row mt-2">
              <div class="col-lg-4 pr-0">
                <!-- color -->
                <div class="product-colors d-flex">
                  <div class="product-color" style="background: #2d2d2d;"></div>
                  <div class="product-color" style="background: #ffffff;"></div>
                  <div class="product-color" style="background: #f55678;"></div>
                  <div class="product-color" style="background: #ffa733;"></div>
                </div>
              </div>
              <div class="col-lg-6 py-2">
                <!-- size -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span
                      style="border-radius: 0 !important; background: #ffffff; border-right: none !important;font-size: 14px !important;"
                      class="input-group-text text-muted pr-0" id="basic-addon1">Kích
                      thước:
                    </span>
                  </div>
                  <select class="form-control pl-0" name="size" id="size" style="border-left: 0 !important;"
                    style="font-size: 14px;">
                    <option value="">Nhỏ (S)</option>
                    <option value="">Nhỏ (S)</option>
                    <option value="">Nhỏ (S)</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- quantity -->
              <div class="col-lg-4 p-0">
                <div class="number-input ml-2">
                  <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                    class="my-auto ml-2"></button>
                  <input class="number" value="1" type="number" oninput="format(this)" min="1" max="24" step="1" />
                  <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                    class="plus my-auto mr-2"></button>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input class="code form-control text-muted" type="text" placeholder="Mã ưu đãi"
                    style="font-size: 14px !important;">
                </div>
              </div>
            </div>
            <div class="btn-group my-3">
              <button type="submit" class="btn buy-button">
                <i class="fas fa-shopping-basket mr-2"></i>
                <span class="font-weight-bold text-uppercase">mua ngay</span>
              </button>
              <button class="btn like-button ml-2">
                <i class="fas fa-heart"></i>
                <span class="font-weight-bold text-uppercase">thích</span>
              </button>
            </div>
            <div class="form-underline mt- w-100" style="width: 102% !important; margin-left: 1px;"></div>
            <div class="category mt-2">
              <span class="text-muted"><i class="fas fa-pen-square mr-2"></i> Bộ sưu tập: </span>
              <a href="#" class="font-weight-bold">Túi da trăn</a>
            </div>
            <div class="social-network mt-2">
              <a href="#" class="btn social-link"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="btn social-link"><i class="fab fa-twitter"></i></a>
              <a href="#" class="btn social-link"><i class="fab fa-pinterest-p"></i></a>
              <a href="#" class="btn social-link"><i class="fab fa-google-plus-g"></i></a>
              <a href="#" class="btn social-link"><i class="fab fa-tumblr"></i></a>
            </div>
          </form>
        </div>
      </div>
      <!-- product-detail-tab -->
      <div class="product-detail-tab mt-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active text-muted" id="desc-tab" data-toggle="tab" href="#desc" role="tab"
              aria-controls="home" aria-selected="true">Mô tả sản phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" id="review-tab" data-toggle="tab" href="#review" role="tab"
              aria-controls="review" aria-selected="false">Đánh giá</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" id="chart-tab" data-toggle="tab" href="#chart" role="tab"
              aria-controls="chart" aria-selected="false">Size Chart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" id="showroom-tab" data-toggle="tab" href="#showroom" role="tab"
              aria-controls="showroom" aria-selected="false">Show room</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="desc" role="tabpanel" aria-labelledby="desc-tab">
            <p>Ví Flashlight dáng bì thư được làm từ da bò bền đẹp, mang đến trải nghiệm tuyệt vời khi sử dụng.

              Ví to bản được viền ánh kím lấp lánh, màu đen bóng mướt mắt, tạo điểm nhấn cho trang phục của nàng.

              Ví có nhiều ngăn giúp nàng để thẻ, giấy tờ cá nhân và điện thoại. Đây sẽ là lựa chọn tuyệt vời cho những
              chuyến đi và những cô nàng mang “cả thế giới” đi cùng. Item này phù hợp với hầu hết loại trang phục, tiện
              lợi cho những cô nàng công sở.............</p>
          </div>
          <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">...</div>
          <div class="tab-pane fade" id="chart" role="tabpanel" aria-labelledby="chart-tab">...</div>
          <div class="tab-pane fade" id="showroom" role="tabpanel" aria-labelledby="showroom-tab">...</div>
        </div>
      </div>


    </div>
  </section>

  <div class="container">
    <div class="more-product">
      <div class="row">
        <p class="text-capitalize" style="font-size: 34px; margin-bottom: 40px;">sản phẩm liên quan</p>
        <div class="container">
          <div class="row mb-4">
            <div class="col-lg-3">
              <div class="product">
                <div class="card">
                  <div class="product-img">
                    <a href="#"><img src="/assets/client/img/products/product-1.png"
                        class="mx-auto d-flex justify-content-center" alt=""></a>
                    <div class="product-colors justify-content-center d-flex">
                      <div class="product-color" style="background: #2d2d2d;"></div>
                      <div class="product-color" style="background: #ffffff;"></div>
                      <div class="product-color" style="background: #f55678;"></div>
                      <div class="product-color" style="background: #ffa733;"></div>
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="#" class="product-name">Luxury Bag for Women</a>
                    <!-- rating -->
                    <div class="rating">
                      <!-- <input name="stars1" id="e1" type="radio"> -->
                      <label for="e1">
                        <i class="fas fa-star"></i>
                      </label>
                      <!-- <input name="stars1" id="e2" type="radio"> -->
                      <label for="e2">
                        <i class="fas fa-star"></i>
                      </label>
                      <!-- <input name="stars1" id="e3" type="radio"> -->
                      <label for="e3">
                        <i class="fas fa-star"></i>
                      </label>
                      <!-- <input name="stars1" id="e4" type="radio"> -->
                      <label for="e4">
                        <i class="fas fa-star"></i>
                      </label>
                      <!-- <input name="stars1" id="e5" type="radio"> -->
                      <label for="e5">
                        <i class="fas fa-star"></i>
                      </label>
                    </div>
                    <div class="clear"></div>
                    <!-- price -->
                    <div class="product-price">
                      <span class="old-price">8.000.000</span>
                      <span class="new-price">4.000.000</span>
                    </div>
                  </div>
                  <div class="list-group list-group-flush">
                    <div class="list-group-item">
                      <a href="#" class="cart-link text-muted">
                        <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                        <span>Add to cart</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="product">
                <div class="card">
                  <div class="product-img">
                    <a href="#"><img src="/assets/client/img/products/product-2.png"
                        class="mx-auto d-flex justify-content-center" alt=""></a>
                    <div class="product-colors justify-content-center d-flex">
                      <div class="product-color" style="background: #2d2d2d;"></div>
                      <div class="product-color" style="background: #ffffff;"></div>
                      <div class="product-color" style="background: #f55678;"></div>
                      <div class="product-color" style="background: #ffa733;"></div>
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="#" class="product-name">Luxury Bag for Women</a>
                    <!-- rating -->
                    <div class="rating">
                      <!-- <input name="stars1" id="e1" type="radio"> -->
                      <label for="e1">
                        <i class="fas fa-star"></i>
                      </label>
                      <!-- <input name="stars1" id="e2" type="radio"> -->
                      <label for="e2">
                        <i class="fas fa-star"></i>
                      </label>
                      <!-- <input name="stars1" id="e3" type="radio"> -->
                      <label for="e3">
                        <i class="fas fa-star"></i>
                      </label>
                      <!-- <input name="stars1" id="e4" type="radio"> -->
                      <label for="e4">
                        <i class="fas fa-star"></i>
                      </label>
                      <!-- <input name="stars1" id="e5" type="radio"> -->
                      <label for="e5">
                        <i class="fas fa-star"></i>
                      </label>
                    </div>
                    <div class="clear"></div>
                    <!-- price -->
                    <div class="product-price">
                      <span class="old-price">8.000.000</span>
                      <span class="new-price"></span>
                    </div>
                  </div>
                  <div class="list-group list-group-flush">
                    <div class="list-group-item">
                      <a href="#" class="cart-link text-muted">
                        <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                        <span>Add to cart</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="product">
                <div class="card">
                  <div class="product-img">
                    <a href="#"><img src="/assets/client/img/products/product-3.png"
                        class="mx-auto d-flex justify-content-center" alt=""></a>
                    <div class="product-colors justify-content-center d-flex">
                      <div class="product-color" style="background: #2d2d2d;"></div>
                      <div class="product-color" style="background: #ffffff;"></div>
                      <div class="product-color" style="background: #f55678;"></div>
                      <div class="product-color" style="background: #ffa733;"></div>
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="#" class="product-name">Luxury Bag for Women</a>
                    <!-- rating -->
                    <div class="rating">
                      <!-- <input name="stars1" id="e1" type="radio"> -->
                      <label for="e1">
                        <i class="fas fa-star"></i>
                      </label>
                      <!-- <input name="stars1" id="e2" type="radio"> -->
                      <label for="e2">
                        <i class="fas fa-star"></i>
                      </label>
                      <!-- <input name="stars1" id="e3" type="radio"> -->
                      <label for="e3">
                        <i class="fas fa-star"></i>
                      </label>
                      <!-- <input name="stars1" id="e4" type="radio"> -->
                      <label for="e4">
                        <i class="fas fa-star"></i>
                      </label>
                      <!-- <input name="stars1" id="e5" type="radio"> -->
                      <label for="e5">
                        <i class="fas fa-star"></i>
                      </label>
                    </div>
                    <div class="clear"></div>
                    <!-- price -->
                    <div class="product-price">
                      <span class="old-price">8.000.000</span>
                      <span class="new-price"></span>
                    </div>
                  </div>
                  <div class="list-group list-group-flush">
                    <div class="list-group-item">
                      <a href="#" class="cart-link text-muted">
                        <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                        <span>Add to cart</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="product">
                <div class="card">
                  <div class="product-img">
                    <a href="#"><img src="/assets/client/img/products/product-4.png"
                        class="mx-auto d-flex justify-content-center" alt=""></a>
                    <div class="product-colors justify-content-center d-flex">
                      <div class="product-color" style="background: #2d2d2d;"></div>
                      <div class="product-color" style="background: #ffffff;"></div>
                      <div class="product-color" style="background: #f55678;"></div>
                      <div class="product-color" style="background: #ffa733;"></div>
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="#" class="product-name">Luxury Bag for Women</a>
                    <!-- rating -->
                    <div class="rating">
                      <!-- <input name="stars1" id="e1" type="radio"> -->
                      <label for="e1">
                        <i class="fas fa-star"></i>
                      </label>
                      <!-- <input name="stars1" id="e2" type="radio"> -->
                      <label for="e2">
                        <i class="fas fa-star"></i>
                      </label>
                      <!-- <input name="stars1" id="e3" type="radio"> -->
                      <label for="e3">
                        <i class="fas fa-star"></i>
                      </label>
                      <!-- <input name="stars1" id="e4" type="radio"> -->
                      <label for="e4">
                        <i class="fas fa-star"></i>
                      </label>
                      <!-- <input name="stars1" id="e5" type="radio"> -->
                      <label for="e5">
                        <i class="fas fa-star"></i>
                      </label>
                    </div>
                    <div class="clear"></div>
                    <!-- price -->
                    <div class="product-price">
                      <span class="old-price">8.000.000</span>
                      <span class="new-price"></span>
                    </div>
                  </div>
                  <div class="list-group list-group-flush">
                    <div class="list-group-item">
                      <a href="#" class="cart-link text-muted">
                        <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                        <span>Add to cart</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- showroom -->
  <section id="showroom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 showroom">
          <div class="col-lg-7 float-right">
            <h1 class="showroom-title text-uppercase">showroom</h1>
            <p>Hiện tại Moolez đã có 16 cửa hàng tại Việt Nam được phân bố rộng rãi các vùng miền</p>
            <a href="#" class="learn text-uppercase">learn more</a>
          </div>
        </div>

        <div class="col-md-6 letter"
          style="background: url('/assets/client/img/banner.png') no-repeat center; background-size: cover;">
          <div class="col-lg-10">
            <h2 class="letter-title text-uppercase">sign up for newsletter</h2>
            <div class="position-relative">
              <input type="email" name="" id="" placeholder="Your email address">
              <button class="btn-sub text-uppercase">subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <section id="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12 pt-5 mb-3">
          <img class="mb-5" src="/assets/client/img/head-logo.png" alt="" />
          <p>CÔNG TY CP THỜI TRANG MOOLEZ VIỆT NAM</p>
          <P>Giấy ĐKDN: 017084424 - Ngày cấp: 12/05/2017, được sửa đổi lần thứ nhất
            ngày 24/07/2017</P>
          <p>
            Cơn quan cáp: Phòng Đăng Ký kinh doanh - Sở kế hoạch và đầu tư TP.Hà Nội
          </p>
          <p>
            Địa chỉ đăng ký kinh doanh: Số 18 Đoàn Trần Nghiệp, Phường Bùi Thị Xuân,
            Quận Hai Ba Trưng, TP.Hà Nội
          </p>
          <p class="mt-5">
            Bản quyển &copy; 2019 thuộc công ty Moolez VietNam jsc Design By Leotive
          </p>
        </div>
        <div class="col-lg-4 col-md-12 policy pl-5">
          <a href="#">Chính Sách Đổi Trả</a>
          <a href="#">Chính Sách Bảo Hành</a>
          <a href="#">Chính Sách Thẻ VIP</a>
          <a href="#">Chính Sách Đại Lý</a>
          <a href="#">Chính Sách Bảo Mật Thông Tin Khách Hàng</a>
          <a href="#">Hướng Dẫn Chọn Size Giầy</a>
          <a href="#">Chính Sách Bán Hàng Trên Website</a>
        </div>
        <div class="col-lg-3 col-md-12 mt-3 pl-5" style="line-height: 2;">
          <div class="footer-icon d-flex mt-5 mb-5">
            <a class="mr-2" href=""><i class="fab fa-twitter fa-2x"></i></a>
            <a class="mr-2" href=""><i class="fab fa-pinterest fa-2x"></i></a>
            <a href=""><i class="fab fa-facebook fa-2x"></i></a>
          </div>
          <a href="">Trang chủ</a>
          <a href="">Giới thiệu</a>
          <a href="">Câu hỏi thường gặp</a>
          <a href="">Liên hệ với chúng tôi</a>
          <a href="">Liên hệ với đại lý</a>
          <img class="mt-5" src="/assets/client/img/bo-cong-thuong.png" alt="" />
        </div>
      </div>
      <div class="row  mt-4" style="color: #a3a3a3; font-size: 13px;">
        <div class="col-4 pt-3">DỊCH PHỤ KHÁCH HÀNG: 0932 221 285</div>
        <div class="col-5 pt-3">GIỜ LÀM VIỆC: CÁCH NGÀY TRONG TUẦN 8:00 ĐẾN 18:00</div>
        <div class="col-3 mb-5">
          <a href=""><img src="/assets/client/img/chart.png" alt=""></a>
        </div>
      </div>
    </div>
  </section>

  <script>
    function myFunction() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("more");
      var btnText = document.getElementById("myBtn");

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Xem thêm";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Rút gọn";
        moreText.style.display = "inline";
      }
    }

    function scrollDown() {
      document.querySelector('.thumbnail').scrollBy(0, 50);
    }
    function scrollUp() {
      document.querySelector('.thumbnail').scrollBy(0, -100);
    }
    $('.thumbnail li').click(function () {
      $(this).addClass("active")
    })
  </script>
</body>

</html>