<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/assets/client/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/client/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/assets/client/css/owl.theme.default.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel="stylesheet" href="/assets/client/css/aos.css" />
  <link rel="stylesheet" href="/assets/client/css/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/client/css/slick.css" />
  <link rel="stylesheet" href="/assets/client/css/style.css" />
  <link rel="stylesheet" href="/assets/client/css/pages.css" />
  <link rel="stylesheet" href="/assets/client/css/responsive.css" />
  <script src="/assets/client/js/jquery.min.js"></script>
  <script src="/assets/client/js/popper.min.js"></script>
  <script src="/assets/client/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/client/js/slick.min.js"></script>
  <script src="https://kit.fontawesome.com/969fc0c091.js" crossorigin="anonymous"></script>
  <script src="/assets/client/js/aos.js"></script>
  <script src="/assets/client/js/owl.carousel.js"></script>
  <script src="/assets/client/js/script.js"></script>
  <title>Product</title>
</head>

<body>
  <!-- header -->
  <section id="header">
    <!-- top -->
    <div class="head-hotline">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-5">
            <p class="hotline text-uppercase m-0">
              hotline: 1900292976
            </p>
          </div>
          <div class="col-lg-6 col-md-7">
            <ul class="nav nav-head float-right">
              <li class="nav-item p-0">
                <select name="" id="" class="head-select">
                  <option value="">VNĐ</option>
                  <option value="">$</option>
                  <option value="">£</option>
                </select>
              </li>
              <li class="nav-item">
                <select name="" id="" class="head-select">
                  <option value="">Vietnamese</option>
                  <option value="">United States</option>
                  <option value="">England</option>
                </select>
              </li>
              <li class="nav-item">
                <a href="#">Đăng ký</a>
              </li>
              <li class="nav-item">
                <a href="#">Đăng nhập</a>
              </li>
              <li class="nav-item p-0">
                <button type="button" class="btn-search">
                  <i class="fas fa-search"></i>
                </button>
                <div class="search-header">
                  <input type="text" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- navbar -->
    <div id="navbar">
      <nav class="navbar navbar-expand-md">
        <div class="container">
          <a href="#" class="navbar-brand">
            <img src="/assets/client/img/head-logo.png" alt="" />
          </a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <i class="fas fa-bars text-white fa-2x pr-2"></i>
          </button>
          <div class="collapse navbar-collapse pt-lg-4 mt-sm-1" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">new arrival</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">tin tức</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">nữ</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">nam</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">monoco</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">gifts</a>
              </li>
              <li class="nav-item pl-lg-5">
                <a href="#" class="nav-link text-uppercase">showroom</a>
              </li>
            </ul>
            <div class="cart">
              <div class="cart-icon">
                <a href="#"> <i class="fas fa-shopping-basket"></i></a>
                <div class="cart-items">08</div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!-- breadcrumb -->
    <div class="bread-crumb">
      <div class="row" style="background: #ebebeb;">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a class="active" href="#">Sản phẩm nữ</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <!-- showcase -->
    <div id="showcase" style="height: 645px; overflow: hidden;">
      <img src="/assets/client/img/contact-img/leatherBag.png" style="width: 100%; background-position: top;" alt="">
    </div>
  </section>
  <!-- product -->
  <section id="product-option">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="options">
            <ul class="nav">
              <li class="text-muted">Bộ lọc</li>
              <li class="options-list font-weight-bold">Phong cách <i class="fas fa-caret-down"></i></li>
              <li class="options-list font-weight-bold">Màu sắc <i class="fas fa-caret-down"></i></li>
              <li class="options-list font-weight-bold">Kích cỡ <i class="fas fa-caret-down"></i></li>
              <li class="options-list font-weight-bold">Độ cao <i class="fas fa-caret-down"></i></li>
              <li class="options-list font-weight-bold">Kiểu gót <i class="fas fa-caret-down"></i></li>
              <li class="options-list font-weight-bold">Kiểu mũi <i class="fas fa-caret-down"></i></li>
            </ul>
            <div class="checkbox-option p-3">
              <div class="all-options d-flex">
                <!-- styles -->
                <div class="style-options d-flex flex-column">
                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark align-self-center"></span> <span style="margin-left: 25px;">Office</span>
                  </label>

                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span> <span style="margin-left: 25px;">Street Style</span>
                  </label>

                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span> <span style="margin-left: 25px;">Evening</span>
                  </label>
                </div>
                <!-- colors -->
                <div class="color-options">
                  <div class="row">
                    <div class="color" style="background: #000000"></div>
                    <div class="color" style="background: #ffffff"></div>
                    <div class="color" style="background: #d2dae2"></div>
                    <div class="color" style="background: #f0dadc"></div>
                  </div>
                  <div class="row">
                    <div class="color" style="background: #02306b"></div>
                    <div class="color" style="background: #025246"></div>
                    <div class="color" style="background: #d40210"></div>
                    <div class="color" style="background: #f55678"></div>
                  </div>
                  <div class="row">
                    <div class="color" style="background: #a36841"></div>
                    <div class="color" style="background: #ffa733"></div>
                  </div>
                </div>
                <!-- sizes -->
                <div class="size-options">
                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark align-self-center"></span> <span style="margin-left: 25px;">34</span>
                  </label>

                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span> <span style="margin-left: 25px;">35</span>
                  </label>

                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span> <span style="margin-left: 25px;">36</span>
                  </label>
                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark align-self-center"></span> <span style="margin-left: 25px;">37</span>
                  </label>

                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span> <span style="margin-left: 25px;">38</span>
                  </label>

                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span> <span style="margin-left: 25px;">39</span>
                  </label>
                </div>
                <!-- height -->
                <div class="height-options">
                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark align-self-center"></span> <span style="margin-left: 25px;">Bệt</span>
                  </label>

                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span> <span style="margin-left: 25px;">3cm</span>
                  </label>

                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span> <span style="margin-left: 25px;">5cm</span>
                  </label>
                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark align-self-center"></span> <span style="margin-left: 25px;">7cm</span>
                  </label>

                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span> <span style="margin-left: 25px;">9cm</span>
                  </label>

                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span> <span style="margin-left: 25px;">11cm</span>
                  </label>
                </div>
                <!-- special-option -->
                <div class="special-options" style="margin-right: 40px;">
                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark align-self-center"></span> <span style="margin-left: 25px;">Gót vuông</span>
                  </label>

                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span> <span style="margin-left: 25px;">Gót nhọn</span>
                  </label>

                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span> <span style="margin-left: 25px;">Đế xuồng</span>
                  </label>
                </div>
                <!-- special-option -->
                <div class="special-options">
                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark align-self-center"></span> <span style="margin-left: 25px;">Mũi nhọn</span>
                  </label>

                  <label class="checkbox-container">
                    <input type="checkbox">
                    <span class="checkmark"></span> <span style="margin-left: 25px;">Mũi tròn</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- product list-->
  <section id="product-list">
    <div class="container">
      <div class="row mb-4">
        <div class="col-lg-3">
          <div class="product">
            <div class="card">
              <div class="product-img">
                <a href="#"><img src="/assets/client/img/products/product-1.png"
                    class="mx-auto d-flex justify-content-center" alt=""></a>
                <div class="product-colors justify-content-center d-flex">
                  <div class="product-color" style="background: #2d2d2d;"></div>
                  <div class="product-color" style="background: #ffffff;"></div>
                  <div class="product-color" style="background: #f55678;"></div>
                  <div class="product-color" style="background: #ffa733;"></div>
                </div>
              </div>
              <div class="card-body">
                <a href="#" class="product-name">Luxury Bag for Women</a>
                <!-- rating -->
                <div class="rating">
                  <!-- <input name="stars1" id="e1" type="radio"> -->
                  <label for="e1">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e2" type="radio"> -->
                  <label for="e2">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e3" type="radio"> -->
                  <label for="e3">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e4" type="radio"> -->
                  <label for="e4">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e5" type="radio"> -->
                  <label for="e5">
                    <i class="fas fa-star"></i>
                  </label>
                </div>
                <div class="clear"></div>
                <!-- price -->
                <div class="product-price">
                  <span class="old-price">8.000.000</span>
                  <span class="new-price">4.000.000</span>
                </div>
              </div>
              <div class="list-group list-group-flush">
                <div class="list-group-item">
                  <a href="#" class="cart-link text-muted">
                    <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                    <span>Add to cart</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="product">
            <div class="card">
              <div class="product-img">
                <a href="#"><img src="/assets/client/img/products/product-2.png"
                    class="mx-auto d-flex justify-content-center" alt=""></a>
                <div class="product-colors justify-content-center d-flex">
                  <div class="product-color" style="background: #2d2d2d;"></div>
                  <div class="product-color" style="background: #ffffff;"></div>
                  <div class="product-color" style="background: #f55678;"></div>
                  <div class="product-color" style="background: #ffa733;"></div>
                </div>
              </div>
              <div class="card-body">
                <a href="#" class="product-name">Luxury Bag for Women</a>
                <!-- rating -->
                <div class="rating">
                  <!-- <input name="stars1" id="e1" type="radio"> -->
                  <label for="e1">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e2" type="radio"> -->
                  <label for="e2">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e3" type="radio"> -->
                  <label for="e3">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e4" type="radio"> -->
                  <label for="e4">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e5" type="radio"> -->
                  <label for="e5">
                    <i class="fas fa-star"></i>
                  </label>
                </div>
                <div class="clear"></div>
                <!-- price -->
                <div class="product-price">
                  <span class="old-price">8.000.000</span>
                  <span class="new-price"></span>
                </div>
              </div>
              <div class="list-group list-group-flush">
                <div class="list-group-item">
                  <a href="#" class="cart-link text-muted">
                    <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                    <span>Add to cart</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="product">
            <div class="card">
              <div class="product-img">
                <a href="#"><img src="/assets/client/img/products/product-3.png"
                    class="mx-auto d-flex justify-content-center" alt=""></a>
                <div class="product-colors justify-content-center d-flex">
                  <div class="product-color" style="background: #2d2d2d;"></div>
                  <div class="product-color" style="background: #ffffff;"></div>
                  <div class="product-color" style="background: #f55678;"></div>
                  <div class="product-color" style="background: #ffa733;"></div>
                </div>
              </div>
              <div class="card-body">
                <a href="#" class="product-name">Luxury Bag for Women</a>
                <!-- rating -->
                <div class="rating">
                  <!-- <input name="stars1" id="e1" type="radio"> -->
                  <label for="e1">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e2" type="radio"> -->
                  <label for="e2">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e3" type="radio"> -->
                  <label for="e3">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e4" type="radio"> -->
                  <label for="e4">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e5" type="radio"> -->
                  <label for="e5">
                    <i class="fas fa-star"></i>
                  </label>
                </div>
                <div class="clear"></div>
                <!-- price -->
                <div class="product-price">
                  <span class="old-price">8.000.000</span>
                  <span class="new-price"></span>
                </div>
              </div>
              <div class="list-group list-group-flush">
                <div class="list-group-item">
                  <a href="#" class="cart-link text-muted">
                    <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                    <span>Add to cart</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="product">
            <div class="card">
              <div class="product-img">
                <a href="#"><img src="/assets/client/img/products/product-4.png"
                    class="mx-auto d-flex justify-content-center" alt=""></a>
                <div class="product-colors justify-content-center d-flex">
                  <div class="product-color" style="background: #2d2d2d;"></div>
                  <div class="product-color" style="background: #ffffff;"></div>
                  <div class="product-color" style="background: #f55678;"></div>
                  <div class="product-color" style="background: #ffa733;"></div>
                </div>
              </div>
              <div class="card-body">
                <a href="#" class="product-name">Luxury Bag for Women</a>
                <!-- rating -->
                <div class="rating">
                  <!-- <input name="stars1" id="e1" type="radio"> -->
                  <label for="e1">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e2" type="radio"> -->
                  <label for="e2">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e3" type="radio"> -->
                  <label for="e3">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e4" type="radio"> -->
                  <label for="e4">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e5" type="radio"> -->
                  <label for="e5">
                    <i class="fas fa-star"></i>
                  </label>
                </div>
                <div class="clear"></div>
                <!-- price -->
                <div class="product-price">
                  <span class="old-price">8.000.000</span>
                  <span class="new-price"></span>
                </div>
              </div>
              <div class="list-group list-group-flush">
                <div class="list-group-item">
                  <a href="#" class="cart-link text-muted">
                    <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                    <span>Add to cart</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-lg-3">
          <div class="product">
            <div class="card">
              <div class="product-img">
                <a href="#"><img src="/assets/client/img/products/product-5.png"
                    class="mx-auto d-flex justify-content-center" alt=""></a>
                <div class="product-colors justify-content-center d-flex">
                  <div class="product-color" style="background: #2d2d2d;"></div>
                  <div class="product-color" style="background: #ffffff;"></div>
                  <div class="product-color" style="background: #f55678;"></div>
                  <div class="product-color" style="background: #ffa733;"></div>
                </div>
              </div>
              <div class="card-body">
                <a href="#" class="product-name">Luxury Bag for Women</a>
                <!-- rating -->
                <div class="rating">
                  <!-- <input name="stars1" id="e1" type="radio"> -->
                  <label for="e1">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e2" type="radio"> -->
                  <label for="e2">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e3" type="radio"> -->
                  <label for="e3">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e4" type="radio"> -->
                  <label for="e4">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e5" type="radio"> -->
                  <label for="e5">
                    <i class="fas fa-star"></i>
                  </label>
                </div>
                <div class="clear"></div>
                <!-- price -->
                <div class="product-price">
                  <span class="old-price">8.000.000</span>
                  <span class="new-price">4.000.000</span>
                </div>
              </div>
              <div class="list-group list-group-flush">
                <div class="list-group-item">
                  <a href="#" class="cart-link text-muted">
                    <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                    <span>Add to cart</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="product">
            <div class="card">
              <div class="product-img">
                <a href="#"><img src="/assets/client/img/products/product-2.png"
                    class="mx-auto d-flex justify-content-center" alt=""></a>
                <div class="product-colors justify-content-center d-flex">
                  <div class="product-color" style="background: #2d2d2d;"></div>
                  <div class="product-color" style="background: #ffffff;"></div>
                  <div class="product-color" style="background: #f55678;"></div>
                  <div class="product-color" style="background: #ffa733;"></div>
                </div>
              </div>
              <div class="card-body">
                <a href="#" class="product-name">Luxury Bag for Women</a>
                <!-- rating -->
                <div class="rating">
                  <!-- <input name="stars1" id="e1" type="radio"> -->
                  <label for="e1">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e2" type="radio"> -->
                  <label for="e2">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e3" type="radio"> -->
                  <label for="e3">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e4" type="radio"> -->
                  <label for="e4">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e5" type="radio"> -->
                  <label for="e5">
                    <i class="fas fa-star"></i>
                  </label>
                </div>
                <div class="clear"></div>
                <!-- price -->
                <div class="product-price">
                  <span class="old-price">8.000.000</span>
                  <span class="new-price"></span>
                </div>
              </div>
              <div class="list-group list-group-flush">
                <div class="list-group-item">
                  <a href="#" class="cart-link text-muted">
                    <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                    <span>Add to cart</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="product">
            <div class="card">
              <div class="product-img">
                <a href="#"><img src="/assets/client/img/products/product-3.png"
                    class="mx-auto d-flex justify-content-center" alt=""></a>
                <div class="product-colors justify-content-center d-flex">
                  <div class="product-color" style="background: #2d2d2d;"></div>
                  <div class="product-color" style="background: #ffffff;"></div>
                  <div class="product-color" style="background: #f55678;"></div>
                  <div class="product-color" style="background: #ffa733;"></div>
                </div>
              </div>
              <div class="card-body">
                <a href="#" class="product-name">Luxury Bag for Women</a>
                <!-- rating -->
                <div class="rating">
                  <!-- <input name="stars1" id="e1" type="radio"> -->
                  <label for="e1">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e2" type="radio"> -->
                  <label for="e2">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e3" type="radio"> -->
                  <label for="e3">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e4" type="radio"> -->
                  <label for="e4">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e5" type="radio"> -->
                  <label for="e5">
                    <i class="fas fa-star"></i>
                  </label>
                </div>
                <div class="clear"></div>
                <!-- price -->
                <div class="product-price">
                  <span class="old-price">8.000.000</span>
                  <span class="new-price"></span>
                </div>
              </div>
              <div class="list-group list-group-flush">
                <div class="list-group-item">
                  <a href="#" class="cart-link text-muted">
                    <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                    <span>Add to cart</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="product">
            <div class="card">
              <div class="product-img">
                <a href="#"><img src="/assets/client/img/products/product-4.png"
                    class="mx-auto d-flex justify-content-center" alt=""></a>
                <div class="product-colors justify-content-center d-flex">
                  <div class="product-color" style="background: #2d2d2d;"></div>
                  <div class="product-color" style="background: #ffffff;"></div>
                  <div class="product-color" style="background: #f55678;"></div>
                  <div class="product-color" style="background: #ffa733;"></div>
                </div>
              </div>
              <div class="card-body">
                <a href="#" class="product-name">Luxury Bag for Women</a>
                <!-- rating -->
                <div class="rating">
                  <!-- <input name="stars1" id="e1" type="radio"> -->
                  <label for="e1">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e2" type="radio"> -->
                  <label for="e2">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e3" type="radio"> -->
                  <label for="e3">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e4" type="radio"> -->
                  <label for="e4">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e5" type="radio"> -->
                  <label for="e5">
                    <i class="fas fa-star"></i>
                  </label>
                </div>
                <div class="clear"></div>
                <!-- price -->
                <div class="product-price">
                  <span class="old-price">8.000.000</span>
                  <span class="new-price"></span>
                </div>
              </div>
              <div class="list-group list-group-flush">
                <div class="list-group-item">
                  <a href="#" class="cart-link text-muted">
                    <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                    <span>Add to cart</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-lg-3">
          <div class="product">
            <div class="card">
              <div class="product-img">
                <a href="#"><img src="/assets/client/img/products/product-1.png"
                    class="mx-auto d-flex justify-content-center" alt=""></a>
                <div class="product-colors justify-content-center d-flex">
                  <div class="product-color" style="background: #2d2d2d;"></div>
                  <div class="product-color" style="background: #ffffff;"></div>
                  <div class="product-color" style="background: #f55678;"></div>
                  <div class="product-color" style="background: #ffa733;"></div>
                </div>
              </div>
              <div class="card-body">
                <a href="#" class="product-name">Luxury Bag for Women</a>
                <!-- rating -->
                <div class="rating">
                  <!-- <input name="stars1" id="e1" type="radio"> -->
                  <label for="e1">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e2" type="radio"> -->
                  <label for="e2">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e3" type="radio"> -->
                  <label for="e3">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e4" type="radio"> -->
                  <label for="e4">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e5" type="radio"> -->
                  <label for="e5">
                    <i class="fas fa-star"></i>
                  </label>
                </div>
                <div class="clear"></div>
                <!-- price -->
                <div class="product-price">
                  <span class="old-price">8.000.000</span>
                  <span class="new-price">4.000.000</span>
                </div>
              </div>
              <div class="list-group list-group-flush">
                <div class="list-group-item">
                  <a href="#" class="cart-link text-muted">
                    <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                    <span>Add to cart</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="product">
            <div class="card">
              <div class="product-img">
                <a href="#"><img src="/assets/client/img/products/product-2.png"
                    class="mx-auto d-flex justify-content-center" alt=""></a>
                <div class="product-colors justify-content-center d-flex">
                  <div class="product-color" style="background: #2d2d2d;"></div>
                  <div class="product-color" style="background: #ffffff;"></div>
                  <div class="product-color" style="background: #f55678;"></div>
                  <div class="product-color" style="background: #ffa733;"></div>
                </div>
              </div>
              <div class="card-body">
                <a href="#" class="product-name">Luxury Bag for Women</a>
                <!-- rating -->
                <div class="rating">
                  <!-- <input name="stars1" id="e1" type="radio"> -->
                  <label for="e1">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e2" type="radio"> -->
                  <label for="e2">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e3" type="radio"> -->
                  <label for="e3">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e4" type="radio"> -->
                  <label for="e4">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e5" type="radio"> -->
                  <label for="e5">
                    <i class="fas fa-star"></i>
                  </label>
                </div>
                <div class="clear"></div>
                <!-- price -->
                <div class="product-price">
                  <span class="old-price">8.000.000</span>
                  <span class="new-price"></span>
                </div>
              </div>
              <div class="list-group list-group-flush">
                <div class="list-group-item">
                  <a href="#" class="cart-link text-muted">
                    <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                    <span>Add to cart</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="product">
            <div class="card">
              <div class="product-img">
                <a href="#"><img src="/assets/client/img/products/product-3.png"
                    class="mx-auto d-flex justify-content-center" alt=""></a>
                <div class="product-colors justify-content-center d-flex">
                  <div class="product-color" style="background: #2d2d2d;"></div>
                  <div class="product-color" style="background: #ffffff;"></div>
                  <div class="product-color" style="background: #f55678;"></div>
                  <div class="product-color" style="background: #ffa733;"></div>
                </div>
              </div>
              <div class="card-body">
                <a href="#" class="product-name">Luxury Bag for Women</a>
                <!-- rating -->
                <div class="rating">
                  <!-- <input name="stars1" id="e1" type="radio"> -->
                  <label for="e1">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e2" type="radio"> -->
                  <label for="e2">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e3" type="radio"> -->
                  <label for="e3">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e4" type="radio"> -->
                  <label for="e4">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e5" type="radio"> -->
                  <label for="e5">
                    <i class="fas fa-star"></i>
                  </label>
                </div>
                <div class="clear"></div>
                <!-- price -->
                <div class="product-price">
                  <span class="old-price">8.000.000</span>
                  <span class="new-price"></span>
                </div>
              </div>
              <div class="list-group list-group-flush">
                <div class="list-group-item">
                  <a href="#" class="cart-link text-muted">
                    <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                    <span>Add to cart</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="product">
            <div class="card">
              <div class="product-img">
                <a href="#"><img src="/assets/client/img/products/product-4.png"
                    class="mx-auto d-flex justify-content-center" alt=""></a>
                <div class="product-colors justify-content-center d-flex">
                  <div class="product-color" style="background: #2d2d2d;"></div>
                  <div class="product-color" style="background: #ffffff;"></div>
                  <div class="product-color" style="background: #f55678;"></div>
                  <div class="product-color" style="background: #ffa733;"></div>
                </div>
              </div>
              <div class="card-body">
                <a href="#" class="product-name">Luxury Bag for Women</a>
                <!-- rating -->
                <div class="rating">
                  <!-- <input name="stars1" id="e1" type="radio"> -->
                  <label for="e1">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e2" type="radio"> -->
                  <label for="e2">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e3" type="radio"> -->
                  <label for="e3">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e4" type="radio"> -->
                  <label for="e4">
                    <i class="fas fa-star"></i>
                  </label>
                  <!-- <input name="stars1" id="e5" type="radio"> -->
                  <label for="e5">
                    <i class="fas fa-star"></i>
                  </label>
                </div>
                <div class="clear"></div>
                <!-- price -->
                <div class="product-price">
                  <span class="old-price">8.000.000</span>
                  <span class="new-price"></span>
                </div>
              </div>
              <div class="list-group list-group-flush">
                <div class="list-group-item">
                  <a href="#" class="cart-link text-muted">
                    <i class="fas fa-shopping-basket" style="margin-right: 9px;"></i>
                    <span>Add to cart</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p class="text-uppercase text-center mt-5">loading...</p>
    </div>
  </section>
  <!-- showroom -->
  <section id="showroom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 showroom">
          <div class="col-lg-7 float-right">
            <h2 class="showroom-title text-uppercase">showroom</h2>
            <p>Hiện tại Moolez đã có 16 cửa hàng tại Việt Nam được phân bố rộng rãi các vùng miền</p>
            <a href="#" class="learn text-uppercase">learn more</a>
          </div>
        </div>

        <div class="col-md-6 letter"
          style="background: url('/assets/client/img/banner.png') no-repeat center; background-size: cover;">
          <div class="col-lg-10">
            <h2 class="letter-title text-uppercase">sign up for newsletter</h2>
            <div class="position-relative">
              <input type="email" name="" id="" placeholder="Your email address">
              <button class="btn-sub text-uppercase">subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <section id="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12 pt-5 mb-3">
          <a href="#"><img class="mb-5" src="/assets/client/img/head-logo.png" alt="" />
            <p>CÔNG TY CP THỜI TRANG MOOLEZ VIỆT NAM</p>
          </a>
          <P>Giấy ĐKDN: 017084424 - Ngày cấp: 12/05/2017, được sửa đổi lần thứ nhất
            ngày 24/07/2017</P>
          <p>
            Cơn quan cáp: Phòng Đăng Ký kinh doanh - Sở kế hoạch và đầu tư TP.Hà Nội
          </p>
          <p>
            Địa chỉ đăng ký kinh doanh: Số 18 Đoàn Trần Nghiệp, Phường Bùi Thị Xuân,
            Quận Hai Ba Trưng, TP.Hà Nội
          </p>
          <p class="mt-5">
            Bản quyển &copy; 2019 thuộc công ty Moolez VietNam jsc Design By Leotive
          </p>
        </div>
        <div class="col-lg-4 col-md-12 policy pl-5">
          <a href="#">Chính Sách Đổi Trả</a>
          <a href="#">Chính Sách Bảo Hành</a>
          <a href="#">Chính Sách Thẻ VIP</a>
          <a href="#">Chính Sách Đại Lý</a>
          <a href="#">Chính Sách Bảo Mật Thông Tin Khách Hàng</a>
          <a href="#">Hướng Dẫn Chọn Size Giầy</a>
          <a href="#">Chính Sách Bán Hàng Trên Website</a>
        </div>
        <div class="col-lg-3 col-md-12 mt-3 pl-5" style="line-height: 2;">
          <div class="footer-icon d-flex mt-5 mb-5">
            <a class="mr-2" href=""><i class="fab fa-twitter fa-2x"></i></a>
            <a class="mr-2" href=""><i class="fab fa-pinterest fa-2x"></i></a>
            <a href=""><i class="fab fa-facebook fa-2x"></i></a>
          </div>
          <a href="">Trang chủ</a>
          <a href="">Giới thiệu</a>
          <a href="">Câu hỏi thường gặp</a>
          <a href="">Liên hệ với chúng tôi</a>
          <a href="">Liên hệ với đại lý</a>
          <img class="mt-5" src="/assets/client/img/bo-cong-thuong.png" alt="" />
        </div>
      </div>
      <div class="row  mt-4" style="color: #a3a3a3; font-size: 13px;">
        <div class="col-4 pt-3">DỊCH PHỤ KHÁCH HÀNG: 0932 221 285</div>
        <div class="col-5 pt-3">GIỜ LÀM VIỆC: CÁCH NGÀY TRONG TUẦN 8:00 ĐẾN 18:00</div>
        <div class="col-3 mb-5">
          <a href=""><img src="/assets/client/img/chart.png" alt=""></a>
        </div>
      </div>
    </div>
  </section>
  <script>
    $(".options-list").click(function () {
      if ($('.checkbox-option:visible').length)
        $('.checkbox-option').hide();
      else
        $('.checkbox-option').show();
    })

  </script>
</body>

</html>